[2015-08-11 00:33] tcampbel opened #1 "Proper configuration for RDP"
I've got opencanaryd running on a OS X 10.10 and while I have the .conf with RDP set to true, I'm unable to create a "fake session" .  Can you provide additional steps if require to setup the RDP module?

Here is my current .conf file:

{
    "device.node_id": "opencanary-1",
    "ftp.banner": "FTP server ready",
    "ftp.enabled": true,
    "ftp.port":21,
    "http.banner": "Apache/2.2.22 (Ubuntu

[2015-08-11 06:19] tcampbel commented on #1
Update. I forget to install rdp module.  I can start a connection but never get a logon screen.

[2015-08-18 10:24] thinkst commented on #1
Which RDP client are you using?

We've run OpenCanary on OS X, testing RDP with the Windows Server 2012 client. There's a similar issue to this one with using the OS X RDP client (from Microsoft). We haven't yet tracked down whether this is a limitation of rdpy or an issue with OpenCanary.

[2015-09-02 14:33] brf2010 opened #3 "Minor shell execution vulnerability in the portscan module configuration"
Line 47 and 48 of portscan.py allow you to insert some shell commands using the "portscan.synrate" configuration line. For example, touching a file:

(canarytest)[bryan@dickbutt bin]$ ls /tmp
systemd-private-b606444044104f089cb407d0fd120480-ntpd.service-NFtTi0  tmux-1000
(canarytest)[bryan@dickbutt bin]$ grep portscan opencanary.conf
    "portscan.synrate": "5/second\";touch /tmp/\"",
    "portsca

[2015-09-11 05:50] tcampbel commented on #1
I'm using the Microsoft RDP Client on MAC.

[2015-11-23 07:36] rustempasha opened #6 "opencanaryd --start not working"
Hi. I've installed opencanary on virtualenv following instructions on both Debian x86 / 64. I've done the configuration on json file however when I type opencanaryd --start, the shell says /usr/local/bin/opencanaryd: line 23: sudo: command not found. I opened the opencanaryd file and see that there is no opencanaryd.pid file maybe the problem is that. Thanks.

[2015-11-23 09:04] thinkst commented on #6
Hi,

It looks like the opencanaryd is complaining about not having 'sudo' installed. Could you try installing that first?

The opencanaryd script should, but doesn't yet, check for the existence of sudo before using it as most of our testing takes place on Ubuntu.

[2015-11-23 09:15] rustempasha commented on #6
yes sudo is not installed my system i've solved the issue thank you.

[2015-11-23 09:23] #6 closed

[2016-02-04 09:30] muehan opened #8 "Installation with Ubuntu 15.10 Server"
I have a Ubuntu 15.10 installation running in my VirtualBox and have followed the installation guide from the readme.

- pip install pcapy does not work
=> error: command 'x86_64-linux-gnu-gcc' failed with exit status 1

- $ sudo /path/to/venv/bin/opencanary --start
=> does not work at all
I guess it should be: $sudo opencanaryd --start
brings the message: "No config file found"
$sudo opencanaryd

[2016-02-04 10:01] muehan commented on #8
ignore... my fault. I have done something working with virtualenv.

startup command and config could be part of the readme, but that's not a issue

[2016-02-04 10:01] #8 closed

[2016-03-03 21:51] leesoh opened #9 "cp: cannot stat ‘/usr/local/bin/../lib/python2.7/site-packages/opencanary/data/settings.json’: No such file or directory"
After the install, I ran opencanaryd --copyconfig and got this error:

[code]

A quick search finds the file:

[code]

[2016-03-03 22:16] leesoh commented on #9
Manually copying that config to ~/.opencanary.conf and running --start generates the following
[code]

[2016-03-04 01:38] xistence commented on #9
I also encountered this issue, however I don't need HpFeeds for logging. If you just want other logging methods and want to quickly work around this issue you can remove the "hpfeeds" section from the "logger" section in the config. Just make it look something like this:

    "logger": {
        "class" : "PyLogger",
        "kwargs" : {
            "formatters": {
                "plain": {

[2016-03-04 01:44] leesoh commented on #9
You're correct - I did a bit of work after opening the issue and got the same result. Was going to play with it a bit tonight to see if I could figure out why it was happening.

[2016-03-04 03:31] leesoh commented on #9
Pull request in.

[2016-03-14 10:02] thinkst commented on #9
Thanks for the pull request.

For locating the config issue, we've pushed through a more general [fix](  https://github.com/thinkst/opencanary/commit/809b1836dee2d6d066ecf66d39f98e2ca3a14eea) to replace the original hardcoded path. Could you verify that it works in your environment?

For the second issue: we've removed hpfeeds from the default config and documented it instead. (See [809b183](https

[2016-03-14 10:35] thinkst commented on #3
You're right on both counts that the issue exists and about it's severity. Nevertheless, it's poor form not to enforce that to be an int. Fixed in https://github.com/thinkst/opencanary/commit/6d495598b91522a9c6b454ce4ad0310eb3aef93a

[2016-03-14 10:35] #3 closed

[2016-03-14 13:35] thinkst commented on #1
To narrow down the cause of this issue, could you run (the updated) OC with:

```opencanaryd --dev```

and with [this config](https://github.com/thinkst/opencanary/files/172015/opencanary.txt) installed at `~/.opencanary.conf`.

It would help if you let us know what errors show up if any and also if the command

```nc -v localhost 3389```

is able to connect (to verify that OC is indeed listening

[2016-03-14 20:44] leesoh commented on #9
Fix works!

[2016-03-14 20:44] #9 closed

[2016-03-14 20:51] thinkst commented on #9
Thanks for the digging and testing on this @leesoh

[2016-03-17 23:02] brendan004 commented on #9
Hi guys. Thanks for all your input on opencanary. I've been knocking down one issue after the next b/c of it. I have removed hpfeeds and done all the things recommended here and I am running in to an issue that was mentioned but I don't see a fix (unless I'm just missing it). My error is now:
[root@localhost bin]# ./opencanaryd --start
[-] Failed to open opencanary.conf for reading ([Errno 2] No s

[2016-03-18 14:59] thinkst commented on #9
Hey @brendan004

This looks like the json config file in `/root/.opencanary.conf` is malformed. Check you config file especially around line 60 as the error message suggests. (We often find that [jq](https://stedolan.github.io/jq/)  is very helpful for quickly verifying if a file is valid json.)

In future, please open a new ticket for new issues.

[2016-03-18 18:41] brendan004 opened #12 "Error when starting opencanary"
Hello all. I posted something about this yesterday but am unsure about what is wrong with the .opencanary.conf file. Basically, I removed the hpfeeds section in the logger section as advised:

    "logger": {
	"class" : "PyLogger",
	"kwargs" : {
	    "formatters": {
		"plain": {
		    "format": "%(message)s"
		}
	    },
	    "handlers": {
		"console": {
		    "class": "logging.StreamHandler",

[2016-03-22 08:25] thinkst commented on #12
Hey @brendan004,

At least one of the error is on line 58 of the config file. That line has an errant comma. It is now:
`   },`
but it should just be
`  }`

If that alone doesn't fix it, attach your entire config file to the issue, and we can check it out.

[2016-03-22 17:57] thinkst commented on #12
It's a pleasure - good to hear that it's now running.

[2016-03-22 17:57] #12 closed

[2016-04-06 15:14] kontez opened #13 "host.cfg"
Hi,

I installed and configured OpenCanary to send mails to my GMail account, however, every few seconds I receive a mail with this message:
`{"dst_host": "0.0.0.0", "dst_port": 69, "local_time": "2016-04-06 15:07:37.544263", "logdata": {"FILENAME": "host.cfg", "MODE": "octet", "OPCODE": "READ"}, "logtype": 10001, "node_id": "opencanary-test-config", "src_host": "172.16.253.59", "src_port": 7700}`

[2016-04-06 18:41] brendan004 opened #14 "Running error"
Hello all. I've been wrestling with getting this up and running. When I issue "/usr/bin/opencanaryd --start" I get this:

--- <exception caught here> ---
  File "/usr/lib/python2.7/site-packages/Twisted-14.0.2-py2.7-linux-x86_64.egg/twisted/application/app.py", line 452, in getApplication
    application = service.loadApplication(filename, style, passphrase)
  File "/usr/lib/python2.7/site-package

[2016-04-06 22:51] brendan004 commented on #14
Found this solution: wget https://bootstrap.pypa.io/ez_setup.py -O - | python

That fixed the prior error but I'm getting a similar error now, just a different file.

File "/usr/lib/python2.7/site-packages/Twisted-14.0.2-py2.7-linux-x86_64.egg/twisted/application/app.py", line 452, in getApplication
    application = service.loadApplication(filename, style, passphrase)
  File "/usr/lib/python2.7/s

[2016-04-07 04:26] brendan004 commented on #14
So, it turns out that when you do the pip install it works. I was doing the install from source and had countless issues. Use pip people! It even installed all the dependencies. Sorry to waste anyone's time.

[2016-04-07 04:26] #14 closed

[2016-04-07 06:37] thinkst commented on #13
This alert type indicates 172.16.253.59 is requesting 'host.cfg' from your device via TFTP. You'll need to investigate what the source is and whether the traffic is expected.

For better alert emails, we recommend using opencanary-correlator alongside opencanary. The correlator combines multiple events into a single incident and provides nicely formatted alerts.

[2016-04-07 08:51] thinkst commented on #14
The install from source should work. My suspicion is that the error here was from running `/usr/bin/opencanaryd` instead of the version in the source you're trying to run.

[2016-04-07 08:55] kontez commented on #13
Okay, thank you very much for your help :)

[2016-04-07 13:09] #13 closed

[2016-04-26 17:51] zrogers911 opened #15 "New install - start error"
Hello,
I have a fresh install of opencanary running on Ubuntu 14.04. I attached a screen shot of the error when I run `opencanaryd --start`. Do you have any suggestions on where to look to correct this issue?

![2016-04-26_12-48-55](https://cloud.githubusercontent.com/assets/1282712/14828609/52f0036e-0bad-11e6-9070-d1435496e583.png)

[2016-05-12 17:43] carnal0wnage opened #16 "Samba Setup send logs to json-tcp logger"
I'd like to send the samba logs to the json-tcp logger. is this possible?  current instructions use the syslog way.  right now no events are being written to my opencanary.log file

[2016-05-19 20:18] carnal0wnage commented on #16
I'll respond to my own issue here before i close it out .

the issue was i was using ubuntu trusty, the %D of the sample smb.conf file was causing the smb audit log to not have all the required fields.  I made my config to be %d (yes i know its not the field we are looking for but...) now it works correctly.  the log parsing code in modules/samba.py is now correctly reading the smb-audit.log file

[2016-05-19 20:18] #16 closed

[2016-05-24 10:18] redmed666 opened #17 "[Question] Specification of an interface?"
Hi!

First of all, thank you for you work on this OpenCanary!

I have one question concerning the configuration of OpenCanary: is it possible to make it listen to only one interface?

If yes, can you point me where I can modify this?

Thank you for your time

[2016-05-24 10:30] redmed666 commented on #17
Hi again,

Sorry, I just found how to do that!

[2016-05-24 10:30] #17 closed

[2016-06-15 09:01] ericnyh opened #18 "[Question] Any way to exclude ports in the portscan module?"
To avoid false positives.

[2016-07-04 09:32] redmed666 opened #19 "[Random UDP Port] Source"
Hi,

During some tests, we found that an unwanted udp port is opened by opencanary

With 21907 the process ID of opencanaryd.

We don't find where this bind comes from.

Is it possible to highlight the source of that? And moreover, how to disable this bind?

Thank you.

[2016-07-04 11:45] redmed666 commented on #19
Hi,

This port is simply the port opened by opencanary to talk to the syslog daemon.

[2016-07-07 10:31] quimmontal commented on #15
https://github.com/thinkst/opencanary/issues/9 related, can get closed

[2016-07-13 09:33] quimmontal opened #20 "Ports not logging"
Hi,

I was testing the logging of events of the OpenCanary, checking both the file and the correlator, when I noticed that during an nmap scan, while nmap reported all the open ports, the logger only checked in the log referred to port 8022. It didn't happen the first time, but since then it haven't logged again the other ports packets activity, and happens the same with the replicas I had created

[2016-07-19 12:27] quimmontal commented on #20
My bad, the problem was that it wasn't actually logging packets at first, just logged login attempts and sessions made by the nmap scripts, and what seems to happen is that a normal nmap detection of the service at port 8022 creates a session, adding a log for it.

Still having the fake ssh issue, though not related to the main issue.

[2016-07-19 12:27] #20 closed

[2016-08-27 22:26] bchurchill opened #21 "drop privileges after start"
It would be a big boost from a security perspective if the canary would give up root after booting.  twistd supports this with the -g and -u options.  I hope to try it myself, but I worry it might require tweaking some of the modules in small ways to work.  Even better would be to run the whole thing in a chroot.

[2016-10-07 21:33] hamza005 opened #22 "FTP Localhost connection refused"
when i start the opencanary and then type the ftp local host command, my connection could not be established. the following error is comming:
ftp localhost: connection refused

[2016-10-11 22:08] hamza005 opened #23 "Error When Starting OpenCanary"
Can Someone help me please. I have an issue when starting the opencanary. I'm not a programmer so can't handle this issue on my behalf.
![screenshot from 2016-10-12 03-07-47](https://cloud.githubusercontent.com/assets/20417498/19290429/1d3df13a-9029-11e6-8231-e3acc68556b4.png)

[2016-10-12 14:55] thinkst commented on #19
Thanks for tracking that down redmed666

[2016-10-12 14:55] #19 closed

[2016-10-12 14:56] thinkst commented on #1
Any news on this issue?

[2016-10-12 15:04] thinkst commented on #15
This should be fixed in 2f671ea. Please check that you've created a new config from the latest default. The previous default config included a default logging option which required a non-essential dependency to be installed.

If not, please re-open a ticket and post with config file you're using.

[2016-10-12 15:04] #15 closed

[2016-10-12 15:06] thinkst commented on #23
Hi, this is a duplicate of #15 and should fixed. Please check that you've created your config from the default included in the latest source. If it's still an issue, please post a copy of the config file you're using.

[2016-10-12 15:07] thinkst commented on #22
I'm assuming this is the same issue you mentioned in #23, so closing this to be dealt with there.

[2016-10-12 15:07] #22 closed

[2016-10-12 15:09] thinkst commented on #18
There isn't currently a way to do this in opencanary. We've been doing the filtering on the correlator -side (or with whatever receives the event from opencanary)

[2016-10-12 15:09] #18 closed

[2016-10-12 16:16] hamza005 commented on #23
{
    "device.bluetooth.name": "canary",
    "device.node_id": "hamza",
    "ftp.banner": "FTP server ready",
    "ftp.enabled": true,
    "ftp.port":21,
    "http.banner": "Apache/2.2.22 (Ubuntu)",
    "http.enabled": true,
    "http.port": 80,
    "http.skin": "nasLogin",
    "http.skin.list": [
        {
            "desc": "Plain HTML Login",
            "name": "basicLogin"
        },

[2016-10-12 16:19] hamza005 commented on #23
![screenshot from 2016-10-12 03-19-35](https://cloud.githubusercontent.com/assets/20417498/19318268/7a533892-90c1-11e6-8516-40476e407225.png)

[2016-10-13 15:02] thinkst commented on #23
You can fix this issue by deleting the following `hpfeeds` section:

[code]

However, this looked like it should have been fixed in #15. Is this config from the latest version? How did you get it?

[2016-10-21 13:26] hamza005 opened #24 "ftp logging error"
what is the user name and password for ftp and how can i do that?

[2016-11-19 22:03] braimee opened #25 "How to troubleshoot "direct" email alerts?"
Hi there,

I've got my canary up and running and used the [readthedocs PDF](https://media.readthedocs.org/pdf/opencanary/latest/opencanary.pdf) to setup authenticated email alerts similar to your example:

[code]

At this point, should connection attempts that get logged in `/var/tmp/opencanary.log` send alerts to me?  The FTP/telnet/etc. attempts are definitely getting logged, but I wasn't unders

[2016-11-21 21:16] thinkst commented on #25
Hi Brian,

You've got it right: the OC daemon isn't intended to send the emails (or even alerts) directly. It logs events to the Correlator which condenses multiple events into an single alert that it can send off. The default OC config file includes a directive log to the Correlator, which will be able to send off an email.

https://github.com/thinkst/opencanary/blob/master/opencanary/data/settin

[2016-11-22 15:57] braimee commented on #25
Ok thanks much, I can make email alerts work pretty well with `inotify-tools` so I think I'm good to go, just wanted to check on the "right" way to do this.  Have a great day.

[2016-12-08 06:04] TashiDuks opened #26 "opencanary.conf - how to display "device.node_id" in "subject""
Hi,
I am planning to configure a subject as shown below in my opencanary.conf file so that when i receive an alert I can identify from which machine the alert is being generated.
"handlers": {
                "SMTP": {
                        "class": "logging.handlers.SMTPHandler",
                        "mailhost": ["20.20.20.20", 25],
                        "fromaddr": "honeypot@xyzcompany.co

[2016-12-21 03:27] TashiDuks commented on #26
Anyone please??

[2016-12-31 11:12] xme opened #27 "Multiple ports per protocol?"
Hello,
I started to play with OpenCanary and I really like it.
I searched through the documentation and did not find a answer to the following question:

Is is possible to define multiple ports for a protocol?
Ex: for Telnet, I'd like to listen for incoming traffic on ports 23,2323,5679, etc...

KR,
/x

[2017-01-02 20:27] thinkst commented on #27
Hi @xme,

Glad you've been enjoying OpenCanary. Unfortunately there isn't a straightforward for a single service to listen on multiple ports (without a fair bit of code change) at present. However, you could try running multiple instances of OpenCanary, each configured with telnet on a different port.

[2017-02-01 16:34] gnomefish opened #28 ":3: couldn't match all kex parts"
when I run the canary and try to connect with SSH I always get this, I think it has to do with old ciphers that are no longer supported - what can I do to fix this on the canary?

xxx:~$ ssh canary.lab
Received disconnect from 10.0.0.9 port 22:3: couldn't match all kex parts
Disconnected from 10.0.0.9 port 22

[2017-02-01 21:18] gnomefish commented on #28
on the canary twisted daemon I get this:

2017-02-01 22:12:37+0100 [HoneyPotTransport,0,192.168.1.2] Disconnecting with error, code 3
        reason: couldn't match all kex parts
2017-02-01 22:12:37+0100 [HoneyPotTransport,0,192.168.1.2] connection lost

Apparently it has to do with obsolete encryption alto's, and I also saw that cowrie had the same but it got fixed somehow

[2017-02-15 07:55] thinkst commented on #1
Closing due to inactivity.

[2017-02-15 07:55] #1 closed

[2017-02-15 07:56] thinkst commented on #23
Closing due to inactivity.

[2017-02-15 07:56] #23 closed

[2017-02-15 07:56] #25 closed

[2017-02-15 07:57] #27 closed

[2017-02-16 06:34] hamza005 commented on #23
Okay, The problem has been solved. Sorry for not informing you in the time.
Good luck.

Regards
Hamza Javaid
Applied Security Engineering and research group Islamabad.

On Tue, Feb 14, 2017 at 11:56 PM, Thinkst Applied Research <
notifications@github.com> wrote:

[2017-03-05 05:58] kjacobsen commented on #25
Hi,

Just looking at OpenCanary, sorry to comment on a closed issue, but email alerts do seem to work from the OC daemon as @braimee was attempting to do.

[2017-03-05 06:06] kjacobsen opened #30 "Issue starting with default configuration"
[code]

Removing the ```hpfeeds``` section from the configuration resolves the issue.

[2017-03-05 07:01] kjacobsen opened #32 "Do we need virtualenv?"
Aside from conflicts with OSX, is there any real need to run in the Python Virtualenv?

[2017-03-10 13:04] thinkst commented on #32
It's not absolutely necessary, but is recommended to avoid polluting the system's python installation.

[2017-03-10 13:04] #32 closed

[2017-03-10 13:19] thinkst commented on #30
Thanks for the heads up. The error was fixed in the source code, but hadn't yet been pushed to the PyPi. It's good to go now.

[2017-03-10 13:19] #30 closed

[2017-03-10 13:34] thinkst commented on #26
hi @TashiDuks, unfortunately the logging functionality doesn't currently support dynamically generating email subject lines. If it's something you'd like to implement, we'd be very happy to accept pull requests for it.

[2017-03-10 13:34] #26 closed

[2017-03-10 13:36] thinkst commented on #24
hi @hamza005, as this is an alerting honeypot, the emulation of the FTP doesn't go beyond the login. A simple login is enough to trigger an alert. It's possible to extend the FTP module further to support this, but it isn't an aim of OpenCanary to support this.

[2017-03-10 13:36] #24 closed

[2017-03-10 13:55] thinkst commented on #28
Hi @gnomefish,

This is related to the SSH moduli file. The code is expecting to find it an SSH moduli file at `/etc/ssh/moduli`. Could you try running the opencanaryd with the attached moduli file installed there (or any other generated one)?

[moduli.txt](https://github.com/thinkst/opencanary/files/834087/moduli.txt)

[2017-03-13 11:04] kjacobsen commented on #32
Thanks for the clarification.

[2017-03-14 08:25] gnomefish commented on #28
tried that - same thing:

from my OSX terminal

$ ssh admin@canary.lab -p 22
Received disconnect from 10.0.0.22 port 22:3: couldn't match all kex parts
Disconnected from 10.0.0.22 port 22

on the canary honeypot:

{"dst_host": "10.0.0.22", "dst_port": 22, "local_time": "2017-03-14 08:25:22.094211", "logdata": {"SESSION": "0"}, "logtype": 4000, "node_id": "opencanary-1", "src_host": "192.168.1.2",

[2017-03-14 19:11] hamza005 commented on #24
Alright, I got it. Thank you for your considerations.

Regards:
Hamza Javaid
Comsats Islamabad, Pakistan

On Fri, Mar 10, 2017 at 5:36 AM, Thinkst Applied Research <
notifications@github.com> wrote:

[2017-05-20 02:46] tr1ll commented on #28
Updating twistd to the latest version (17.10 for me) fixed the issue for me.

$ pip install --upgrade twisted

[2017-05-25 13:06] HybridAU opened #33 "Python 3 support"
I've been [working](https://github.com/HybridAU/opencanary) on getting OpenCanary running under Python 3.  At the moment it starts running without error in Python 3 but it runs into issue #28 with the SSH module (SSH is fine with Python 2). I still have a few more modules to test but it's almost there.

I've generally made each commit very small changing only a few lines in each commit to make it

[2017-05-25 13:29] HybridAU opened #34 "opencanary.tac not coping correctly"
When I run `python setup.py install` the `opencanary.tac` file doesn't seem to copy across to the `bin` folder. I'm not really sure what's happening but I think it might be setuptools trying to do something fancy like trying to compile it and then link to the compiled .pyc file.

When I look at `~/env/bin/opencanary.tac` it contains

[code]

and running `opencanaryd --start` results in

[code]

Si

[2017-06-08 18:41] Manu-Surendra opened #35 "RDP issue"
Is anyone having issues in running the RDP service in opencanary. It works fine when i run it on my VM instance and the port is enabled and I can do an RDP from my windows machine using mstsc and alert gets generated. But the same does not work when i try to set it up on my AWS  Ubuntu Desktop instance, i dont even see the RDP service running.

[2017-06-23 21:24] chriswhitehat commented on #34
This looks like an environment/path problem, if you run the same requires/import via an interactive shell for instance it is successful without copying the file over.

I'm less familiar with distribution tools and setuptools based script execution so I haven't enumerated a fix just yet.

[2017-10-25 03:26] camAtGitHub opened #36 "Failure to run on Redhat/CentOS 7 - Failed to load application: '__name__'"
Performing the following on a clean install of Rehat 7:
[code]
Produces the following error message:

[code]
Any help would be appreciated

[2018-01-22 04:31] ceveyp opened #38 "SMTP auth extension not supported by server"
I get this message when I run opencanaryd --start. I don't know how to fix it

[2018-01-22 04:35] ceveyp commented on #38
ALL BECAUSE I'm missing one line of code in the conf file: "secure" : []. This is not in the documentation at all. I spent hours troubleshooting because this is very poor documentation

[2018-02-20 07:10] rwilli30 opened #39 "Is there a way to change the appearance of the server?"
I can't find any good tutorials on making smb work in the config. Maybe I am confused about how the config actually works. I can get the synology page on port 80 but I can't find the server in my network places and cannot figure out where an intruder would come cross the files 2016-Tender-summary.pdf and the password.docx listed in the .opencanary.conf file. Am I missing something?

[2018-04-17 21:59] mmaxwell5 commented on #16
I am running opencanary on a Raspberry Pi (RASPBIAN STRETCH LITE) and I have followed the instructions to get everything setup, including the special SMB settings.  Everything is working and I am getting alerts for all my services expect **Samba**.  I am thinking I am running into the same issue as @carnal0wnage.  Any help someone can offer would be much appreciated.

Attached are my config files

[2018-04-17 23:30] carnal0wnage commented on #16
It's been awhile but IIRC i started adding the logging variables one at a time until i found the one that was breaking things.

here is what i had for my config

[code]

[2018-04-18 04:43] mmaxwell5 commented on #16
Thank you for the response.  By logging variables do you mean the "full_audit:prefix =" items.  From your original post it looks like the %D was causing the problem.  My SMB config looks similar to yours.  I did not see any issues standing out.

[code]

[2018-04-18 04:50] mmaxwell5 commented on #16
Just want to make sure I am understanding the opencanary samba server.  It should log and send an email (if SMTP configures) if someone logs in or attempts to a SMB share, similar to the other services.  Thanks for the help.  Really appreciate it.

[2018-05-08 13:05] AMKpeacemaker opened #41 "Can't execute opencanaryd"
Hi,
I am using OpenBSD 6.3.
I've installed opencanary with pip ,(after uninstalling) with Git and encountered the same problem.

cd /usr/local/bin/  | ls -l | grep opencanaryd
`-rwxr-xr-x    1 root  wheel      2484 May  8 14:52 opencanaryd`

opencanary --copyconfig
opencanary --start
opencanary --help
`ksh: opencanaryd: No such file or directory`

The installation didn't show any errors.
What am I

[2018-05-08 14:55] AMKpeacemaker commented on #41
Found the problem.

pkg_add -v bash  ... works
I thought the kornshell was backward compatible and it would at least give an error message regarding this issue . But installing the Bash-Package did indeed solve this.

Best regards
Klara

[2018-05-23 16:11] deanhinson opened #42 "opencanary logs"
I am trying to get the logs from opencanary.log to be sent to my monitoring system.The logs locally are working but i want to send them out. Is this possible to send over. Maybe getting it into syslog and sending it like that or another way. Help please!!

[2018-05-23 18:12] #42 closed

[2018-05-23 18:16] deanhinson opened #43 "logger error"
I am trying to send logs to another device via tcp. The other end is receiving the logs but I get this alert:

"Dropping log message due to too many failed sends"

I am not exactly sure why, i see in the logger.py file where the error is but i cant figuer out why its happening on my device.

[2018-06-11 12:12] #41 closed

[2018-06-11 15:09] AMKpeacemaker opened #44 "OpenBSD packet filter (pf) - portscan.py iptables"
Hi there,

I was trying to get opencanary running on my OpenBSD, but then I realized, opencanary is using iptables and OpenBSD is using pf.

Are there any known "workarounds" or hints to change the iptables command so it'll work with OpenBSD ?

(portscan.py):
`os.system('sudo /sbin/iptables -t mangle -D PREROUTING -p tcp {dst} --syn -j LOG --log-level=warning --log-prefix="canaryfw: " -m limit --l

[2018-06-13 12:55] AMKpeacemaker commented on #20
How did you change Opencanary from logging "only login attempts" to "loging packets"  ?

[2018-06-13 13:28] thinkst commented on #44
Hey @AMKpeacemaker,

Ill take a look into it and let you know about any possible workarounds.

Kind Regards

[2018-06-13 13:29] thinkst commented on #43
Hey @deanhinson,

Thanks for reporting this issue. I will add it to my list and let you know what I find.

Kind Regards

[2018-06-13 13:32] thinkst commented on #39
Hey @rwilli30,

Sorry for delay. I will take a look and let you know what I find. But in the meantime, you can usually find the smb share using the same IP as the synology page IP, but trying to connect to the IP using an smb client.

I will ping you back soon with some answers (hopefully!)

[2018-06-14 06:45] qmontal commented on #20
Hey @AMKpeacemaker, I'm afraid I haven't touch the project since then and I no longer remember anything about that :/

[2018-06-15 08:31] AMKpeacemaker commented on #44
Hi @thinkst
thank you for looking into this issue.
I was trying myself to solve this, with creating a second logfile via "pf" and merging it back into opencanary, but I got stuck.

PF is logging every portscan regarding the open-canary-Ports, since it's written in TCPDUMP Packet-Capture-Binary-Format, I created a little script to convert it to readable text and changed the syslog.conf .

Convertin

[2018-06-21 10:08] AMKpeacemaker commented on #44
Ahoi,

I've converted the readable PCAP-File into "Opencanary-Format" with a little python-script (called within the bash-script above) and redirected it into a seperate Log-File.

Example-log-entry:

Now I was wondering where/how I can "submit" these informations back into OpenCanary.
Can I use an existing logger within the opencanary.conf ?
Do I have to involve the portscan.py file?

Best Regard

[2018-06-22 09:28] thinkst commented on #44
Hey @AMKpeacemaker,

That is very cool (and very useful!). Thanks. If you wish, you can submit a pull request. This will allow me to check out and test the code. I would be interested in seeing how you got this working. Currently we do not support OpenBSD (nor aim to), but this is definitely a point in favour of moving towards supporting it.

[2018-06-28 05:19] AMKpeacemaker commented on #44
Hi @thinkst ,

at first I changed the Packet-Filter-Configuration (/etc/pf.conf) by activating logging for the ports, used by Opencanary and setting an own "sync-rate" (max-src-conn-rate) like u did via iptables:

[code]

Then i changed the created PCAP-Binary file into "open-canary-format" with two steps:
1. A bash-script converting the PCAP-Binary format into readable text (/etc/pflogrotate):

[

[2018-07-02 18:02] citnadxela opened #45 "Failed building wheel for pcapy"
Trying to set up opencanary.  However, when I get to this step:

pip install scapy pcapy # optional

After running it, it seems like scapy installs fine, but pcapy always fails wi/ this error:

'Failed building wheel for pcapy'

Command "/root/env/bin/python2.7 -u -c "import setuptools, tokenize;__file__='/tmp/pip-install-aPcW_X/pcapy/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.re

[2018-07-02 19:32] #45 closed

[2018-07-09 19:58] citnadxela opened #46 "Way to not log password?"
Currently, by default settings, when a login is attempted, the password that was tried is logged:

{"dst_host": "IP ADDRESS", "dst_port": 80, "local_time": "2018-07-05 22:38:04.891977", "logdata": {"HOSTNAME": "HOSTNAME", "PASSWORD": "PASSWORD", "PATH": "/index.html", "SKIN": "nasLogin", "USERAGENT": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/67.0.3396

[2018-07-12 09:05] thinkst commented on #46
Hey @citnadxela,

This is a great idea. You are more then welcome to open a pull request. If you are looking for a place to start, there are two options here:

You could try blanket mask the password in the `logger.py`. You will see a `sanitizeLog` method which you could use to check for a password (probably in `logdata['logdata']`).

The other option is to manually patch the actual module. For ex

[2018-07-12 09:10] thinkst commented on #44
Hey @AMKpeacemaker,

Wow this is really great. Congratulations (and thanks for keeping us in the loop!). When you ready, you can open a pull request and we can give it a look over and test.

We would also like to send you something to say thanks for the contribution. So ping us with your details and ill get on that in the meantime 👍

[2018-07-12 09:31] thinkst commented on #39
Hey @rwilli30,

Have you seen any errors when starting the opencanary daemon? In terms of the SMB share, the opencanary SMB service monitors a local SMB share so you would need to use the config file to point at the relevant files that you would like opencanaryd to monitor.

Please let me know if this helps at all (otherwise we can continue to figure getting this working!)

[2018-07-12 21:47] citnadxela commented on #46
I commented out this section:

        if not logdata.has_key('logdata'):
            logdata['logdata'] = {}

Yet, the password is still showing up in the e-mail.
Am I working in the right direction?

[2018-07-12 22:52] citnadxela commented on #46
Blanking out the section in the HTTP module works.  Thanks.  While we're on topic, do you know a way in which I can hide the IP's of certain hosts that access the the nas page?

[2018-07-13 09:00] MarioHarm commented on #44
Hi @thinkst ,

I created a pull-request with my other Account, since I am not really experienced with git I don't know how to send private messages regarding my details - also I dont know what informations you might need. I hope the commited code is useful regarding your project.

Best Regards
AMKpeacemaker

[2018-07-16 07:14] thinkst commented on #46
hey @citnadxela,

Im glad you got that working. In terms of hiding certain IP addresses that access the NAS page, you could implement your own whitelist in the HTTP module.

You would create a list of IPs (that you want whitelisted), and in the HTTP module's `render_GET` and `render_POST` methods, you could check `request.getRequestHostname()` against your IP whitelist. If the IP is present, skip

[2018-07-25 11:58] thinkst commented on #44
Hey @AMKpeacemaker,

I just wanted to give you an update. We love what you have done (its really cool), but we have decided not to include it in our repo, simply because we are not aiming at supporting OpenBSD. This said, would you mind if we directed people to your repo if they are searching for OpenBSD compat OpenCanary?

Thanks again for the great work

[2018-07-25 12:02] AMKpeacemaker commented on #44
My pleasure, thanks for the "canary-Swag-wear"  :-)

Sure, if somebody wants OpenCanary get to work on OpenBSD, I would be happy help out with this code.

Best  Regards
AMKpeacemaker

[2018-07-25 12:16] #44 closed

[2018-07-31 07:17] naina-emmanuel opened #48 "Error in starting open canary"
[-] Failed to open opencanary.conf for reading ([Errno 2] No such file or directory: 'opencanary.conf')
[-] Using config file: /home/ubuntu/.opencanary.conf
{"dst_host": "", "dst_port": -1, "local_time": "2018-07-31 07:17:04.528828", "logdata": {"msg": {"logdata": "Added service from class Telnet in opencanary.modules.telnet to fake"}}, "logtype": 1001, "node_id": "opencanary-1", "src_host": "", "

[2018-07-31 16:51] citnadxela commented on #46
Hey @thinkst ,

Couple more questions & I think I should be satisfied in testing opencanary.

How exactly do I use the SQL interface?  How/what in the config am I supposed to include/edit?
After editing the config to make the honeypot enable/look like SQL, how do I access it to see how it would look to attackers?  (For example, I input the IP into a browser to see the Synology page, I input the IP

[2018-07-31 22:53] citnadxela commented on #48
If I recall correctly (& anyone can correct me if I'm wrong), but I believe it is running.  Look at this first entry:

{"dst_host": "", "dst_port": -1, "local_time": "2018-07-31 07:17:04.538440", "logdata": {"msg": "Canary running!!!"}, "logtype": 1001, "node_id": "opencanary-1", "src_host": "", "src_port": -1}

That's the indicator that Canary is running.  If you then put the IP of the server you

[2018-08-01 06:13] naina-emmanuel commented on #48
Yes, its getting me to the synology page but i can't sign in to that...

[2018-08-01 07:49] Emi94 commented on #45
I got the same error. Fixed it by installing these packages:
`apt-get install libpcap-dev libpq-dev`

[2018-08-01 08:09] thinkst commented on #48
hey @naina-emmanuel,

As @citnadxela mentioned, the opencanary is running those services; and from those logs you can see that the http service has been started.

The http service you are running is probably the synology web skin, which means that if you navigate to the address running the opencanary daemon in your browser (so it will try port 80), you will see the synology page. You will not be a

[2018-08-01 08:48] naina-emmanuel commented on #48
@thinkst can I have a tutorial of how to test the samba service? As opencanary is running and I am getting logs of visiting synology page in /var/tmp/opencanary.log

[2018-08-02 05:31] Emi94 opened #49 "Email alerts every time I start OpenCanary"
Hi,

I have enabled email alerts and every time I start OpenCanary it produces some logs that are sent as emails. These are the logs I'm talking about:

Can this be suppressed directly from the software?

[2018-08-02 15:59] citnadxela commented on #46
Thanks @thinkst

What would I include in the config to do this for MSSQL & how would I connect?
Apologies for the redundant questions, but almost there.

[2018-08-03 17:32] citnadxela commented on #46
![image](https://user-images.githubusercontent.com/40772046/43656689-2867d890-9708-11e8-8500-68bc5803d1be.png)

I also want to use opencanary as a Windows file share.  When I access the server name in Windows Explorer, I see the Documents folder where I assume the 2 files:

2016-Tender-Summary.pdf
passwords.docx

are located.  However, when I try to access the folder it's prompting that Windows ca

[2018-08-16 09:49] thinkst commented on #48
Hi @naina-emmanuel,

Sorry for the delay. The Samba service portion of Opencanary requires that you have a working Samba service running on the same machine as the Opencanary daemon.

So you will need to setup a Samba service on your machine. You can then test that it is working by adding some files to the Samba File Share and checking that you are able to access them. Also keep your Samba config

[2018-08-16 10:40] thinkst commented on #49
Hey @Emi94,

Sorry for the delay. Would you mind giving me a little more information? How did you enable email alerts? Which email provider are you using?

These logs should not be alerting you as they are simply telling you which services are starting. I will look into this more (while I wait for some more information form you.)

Thanks

[2018-08-16 10:49] thinkst commented on #34
Hey @HybridAU,

Thanks for finding this (I have also bumped into this!). I will look for a better fix, but for the meantime, I am going to reference your fix on the frontage (Thanks so much!).

[2018-08-16 11:17] Emi94 commented on #49
I used postfix to send emails and enabled opencanary to send them as described here: https://opencanary.readthedocs.io/en/latest/alerts/email.html#send-with-smtp-authentication

This is how it looks:
[code]

As a guess I'd say that opencanary simply sends an alert for every written log.

[2018-08-16 12:49] thinkst commented on #49
Hey @Emi94,

I have taken a look. I think the wording is misleading, but you setup up a loghandler (in OpenCanary). This means that anytime an OpenCanary service logs something, it will send that data through the various log handlers specified.

If you are looking for something more robust in handling the OpenCanary incidents, I would suggest looking at the https://github.com/thinkst/opencanary-co

[2018-08-16 13:58] thinkst commented on #34
Hey @HybridAU,

We have found that there may be an issue with setup_tools. If you want to build from the repo instead of using `pip install opencanary`, you may a different approach that we have found to work. Once you have cloned the OpenCanary git  repo and setup your virtual env and activated it, you can run,
`python setup.py sdist`.

This will create a `opencanary-<version>.tar.gz` inside the

[2018-08-16 14:00] thinkst commented on #36
Hey @camAtGitHub,

We have found that there may be an issue with setup_tools. If you want to build from the repo instead of using `pip install opencanary`, you may a different approach that we have found to work. Once you have cloned the OpenCanary git  repo and setup your virtual env and activated it, you can run,
`python setup.py sdist`.

This will create a `opencanary-<version>.tar.gz` inside t

[2018-08-16 15:02] thinkst commented on #46
Hi @citnadxela,

Sorry for delay.

With the regards to using OpenCanary as a Windows File share, we only monitor SMB File Shares that have been created (i.e. OpenCanary won't create its own file share but monitor the logs produced by the Windows File Share). This allows it to check whether files have been accessed or not and report on this.

In order to get this working, you will need to setup a S

[2018-08-22 12:45] thinkst commented on #39
Closing this issue for now.

[2018-08-22 12:45] #39 closed

[2018-08-22 12:51] #34 closed

[2018-08-22 12:51] thinkst commented on #38
Sorry for the pain @ceveyp. We have added it to the documentation.

[2018-08-22 12:51] #38 closed

[2018-09-19 08:28] Raul1718 opened #50 "Failed to add service from class CanarySSH in opencanary.modules.ssh"
my system is Ubuntu 16.04.4 LTS.

When i run 'opencanaryd --start',hava an error:Failed to add service from class CanarySSH in opencanary.modules.ssh.There was no error in the previous installation process.

[![QQ_20180919162320.jpg](https://i.postimg.cc/BQN9fc4t/QQ_20180919162320.jpg)](https://postimg.cc/1fgYpFgZ)

[2018-09-20 22:39] marxenegls opened #51 "glitch: hung raspbian after installation of opencanary"
i had a fully functional pi2 until i tested this app
i installed it following a guide on linux mag .. I didn't expect that my pi would be hurting this bad though.
i mv  the opencanary.conf. to  opencanaryd/opencanary.conf.bkp , i had switched all daemon params to false anyways but i'm still not able to reboot the pi
i did so by mounting the ms card onto another pi3 ,so  i couldn't exactly query ht

[2018-09-21 09:05] thinkst commented on #50
Hey @Raul1718,

Thanks for getting in contact. Im sorry you having that issue. I have booted up a Ubuntu 16.04 machine and fiddled around in that area. Could you confirm somethings for me please:

1) in `/var/tmp`, do you have `id_dsa` and `id_dsa.pub`? Since it seem the code isnt finding those and hence trying to generate its own.
Although the generation shouldnt be failing, once we confirm that

[2018-09-21 09:33] thinkst commented on #51
Hey @marxenegls,

Thank you for contacting us with this issue. Ill get on trying to reproduce the issue so that I can give some advice with some context.

In the meantime, would you mind checking `/var/tmp/opencanary.log`? Im wondering if opencanary logged any issues that may be useful to know.

With regards to whether there are any other places that opencanary will install files, as far as I can

[2018-09-21 09:53] Raul1718 commented on #50
Hey @thinkst
this is my /var/tmp contents：
[![QQ_20180921175039.jpg](https://i.postimg.cc/j280MLhx/QQ_20180921175039.jpg)](https://postimg.cc/vx6NB8jk)
i hav't see id_dsa and id_dsa.pub.

[2018-09-21 10:52] Raul1718 commented on #50
hey @thinkst
hava an error:
[![QQ_20180921185102.jpg](https://i.postimg.cc/MTZvH3dv/QQ_20180921185102.jpg)](https://postimg.cc/0638Hngs)

[2018-09-21 17:00] marxenegls commented on #51
linux format issue 241 + https://xo.tc/installing-opencanary-on-a-raspberry-pi.html  articles on opencanary + https://www.raspberrypi.org/documentation/configuration/  pi raspi.config  detalis ..

the virtenv is ~/.local/share/virtualenvs/Canary-env

i've tried editing conf files to bkp and setting false to services etc checked raspi.config params .. nothing still not booting up

[2018-09-21 19:39] marxenegls commented on #51
some log files:
:/mnt/usb2$ sudo tail -n 50 var/log/daemon.log
Sep 21 20:48:58 raspberrypi01 systemd[1]: cups.service: Unit entered failed state.
Sep 21 20:48:58 raspberrypi01 systemd[1]: cups.service: Failed with result 'signal'.
Sep 21 20:48:58 raspberrypi01 systemd[1]: avahi-daemon.service: Main process exited, code=killed, status=11/SEGV
Sep 21 20:48:58 raspberrypi01 systemd[1]: Failed to star

[2018-09-22 03:38] marxenegls commented on #51
i've tried everything short of completely deleting the app ..but since it's in a virtenv i just don't see the point , if it isn't even activated, so how can this thing be causing me such a headache .. i only ask systemctl to disable avahi-daemon, which i now edited back to default . OC can't be running t boot time must be activated right ?
why is login service, modem and avahi mDNS etc failing at

[2018-09-22 03:49] marxenegls commented on #51
here's more logs
$sudo cat user.log
Sep 14 06:17:05 raspberrypi01 mtp-probe: checking bus 1, device 3: "/sys/devices/platform/soc/3f980000.usb/usb1/1-1/1-1.1"
Sep 14 06:17:05 raspberrypi01 mtp-probe: bus: 1, device: 4 was not an MTP device
Sep 14 06:17:05 raspberrypi01 mtp-probe: bus: 1, device: 3 was not an MTP device
Sep 21 01:03:43 raspberrypi01 mtp-probe: checking bus 1, device 5: "/sys/device

[2018-09-22 22:43] #51 closed

[2018-09-27 14:40] thinkst commented on #50
Hey @Raul1718,

Would you mind confirming that you installed all the requirements and followed these steps:
1. `$ sudo apt-get install python-dev python-pip python-virtualenv `
2. `$ virtualenv env/`
3. `$. env/bin/activate`
4. `$ pip install opencanary`

In your screenshot, it looks like you not executing from a virtual environment. If you have followed these steps, activated the virtual environm

[2018-11-08 06:45] cchauhan14 opened #52 "New services installation and alert."
Do we need to install any dependencies for new services (SIP, Git), i tried multiple tools to generate traffic for these services on server but i'm not getting logs and alerts. Could you please share some information how we can test these services or which dependencies are required to function these services.

[2018-12-03 23:37] citnadxela commented on #48
@naina-emmanuel hate to bring this up again, but were you ever able to get the Samba portion to work?  Got some free time & want to go back to playing around wi/ opencanary because it's so good, but I, myself, am confused wi/ this.

[2018-12-04 22:30] citnadxela commented on #16
Don't mean to bring this back up, but I pretty much have the same config as you @carnal0wnage .  Everything is getting logged in correctly in the 'samba-audit.log', however, I'm not receiving an e-mail alert for it.  Basically, when someone access the dummy synology page by inputting the IP in a browser, I'll get an e-mail alert.  However, when someone access the Samba share I created, it looks li

[2018-12-05 00:18] citnadxela opened #53 "Samba logs not being sent through e-mail."
I have a Samba share setup.  Whenever someone accesses it, I could see the activity by looking at it at 'var/log/samba-audit.log'.  This is working, however, I thought it was supposed to send an e-mail alert also?  It's currently not.  However, if they access the fake synology page, by inputting the IP into a browser, I get an e-mail alert.  Been stuck on this for a while & would appreciate some h

[2018-12-05 12:42] thinkst commented on #52
Hey @cchauhan14,

Sorry to hear you having an issue. Lets see if we can figure this out. Would you mind confirming the following:
1) you can see that the git (9418) and sip (5060) ports are in use when opencanary is running? This will let us know if the protocol are up.
2a) if not, please make sure they are enabled in your configuration file over at `~/.opencanary.conf`.
2b) if so, to test git, yo

[2018-12-06 11:19] thinkst commented on #53
Hey @citnadxela,

Lets see if we can figure this out. From your description, we know that your email credentials are valid and working so we can rule that out. We also know that Samba is logging correctly to `/var/log/samba-audit.log`.

So the debug steps forward here would be to remove the email output and change that to a local file rather (check the opencanary.org for the logging to file help).

[2018-12-06 11:50] #36 closed

[2018-12-06 13:20] cchauhan14 commented on #52
Yes, git (9418) and sip (5060) ports are up and i can access git successfully, but for SIP i'm unable to find anything to test this service. Could you please suggest a way to test opencanary SIP service.

Thank you
Chandan

[2018-12-06 14:04] bgarlock opened #54 "Excluding (whitelisting) known IP's from alerts"
We have a couple of monitoring servers (Spiceworks and Solarwinds) that scan subnets to check server status and port status of IP's.  Other than excluding the opencanary server in each monitoring server from scanning, is there a way to "whitelist" a couple of IP's from triggering alerts?

[2018-12-06 16:38] citnadxela commented on #53
Hi @thinkst ,

Thanks for the reply.  I think I might've solved it myself, but would probably want to check wi/ you first.  In the /etc/samba/smb.conf file, originally, the logging was configured like this:

full_audit:prefix = %U|%I|%i|%m|%S|%L|%R|%a|%T|%D

I changed %D to %d:

full_audit:prefix = %U|%I|%i|%m|%S|%L|%R|%a|%T|%d

& for some reason, that fixed it & I'm now receiving e-mail alerts wh

[2018-12-06 22:24] citnadxela commented on #53
I had multiple questions, so in hopes of getting them answered, I'll just ask them here if you don't mind:

1.  When setting up a canary to act like a Windows system running MSSQL, there would be no actual database living on the canary, correct?  It basically just shows itself as a SQL server & the alerts are limited to the attacker trying to authenticate & connect to it?

2.  Is it possible to ma

[2018-12-12 14:45] gertgeunens opened #55 "Error executing scripts"
Hi

I am setting up OpenCanary for a school assesment.
But when i want to execute the scripts like logger.py in the opencanary directory, the import commands are not found.

Is there something i need to do first to execute this scripts?

[2018-12-14 23:21] citnadxela commented on #53
Hi @thinkst ,

Any update on this?  I plan on deploying this real soon to our live environment, but wanted to get the questions in my previous comment answered first.  Please let me know.  Appreciate it.

[2018-12-18 12:46] thinkst commented on #53
Hey @citnadxela,

Sorry for the delay (I completely missed these!)..

Im glad you got the Samba working.

In terms of that prefix, if you head over to [here](https://www.samba.org/samba/docs/current/man-html/smb.conf.5.html) and under the heading, "Variable Substitutions", you will see that you will now be seeing the processid rather than the name of the domain/workgroup of the user. Is that what

[2018-12-18 13:15] thinkst commented on #52
Hey @cchauhan14,

Sorry for the delay in my response.

We have tested the SIP module previously using a program called `sipvicious`. It comes with a python script called `svmap.py`. You can aim that at your OpenCanary IP and check if it generates alerts.

[2018-12-18 13:30] thinkst commented on #54
Hey @bgarlock,

Sorry for the delay in my response. Currently the OpenCanary project doesn't support whitelisting IPs, but it could be added to the `log` method into the `__init__.py` inside the modules folder.

You could add a config key,value pair like `ip.whitelist: [value1, value2]`.

Then check if the attacker IP is in config, much like we check the port number for services in the modules fol

[2018-12-18 13:34] thinkst commented on #55
Hey @gertgeunens,

Generally the scripts aren't run separately because they are part of the OpenCanary application.

If you need to run the scripts separately though, you would need to make sure that you have followed the `pip install` instructions into your virtualenv.

Then whilst that virtualenv is still activated; you can try running the scripts separately. (although i suspect you may still hi

[2018-12-18 13:52] gertgeunens commented on #55
Hey @thinkst

We changed to T-Pot as honeypot.
This issue can be closed

[2018-12-18 16:08] #55 closed

[2018-12-18 16:36] citnadxela commented on #53
@thinkst thank you for everything.  been really enjoying taking the time to learn & use opencanary.  I am seriously considering making canary an IIS server.  if you can perhaps point me in the right direction on how/where to start, it'd be appreciated.  For right now, I'll just try to look at the http.py module & see if i can get the juices flowing.  what would the skin look like because if i'm no

[2018-12-20 08:09] thinkst commented on #53
hey @citnadxela,

We are so happy you are enjoying the project (we have lots of fun with it too).

So there are few pointers I can give you to get you started:

1) in `opencanary/modules/data/http` you will see the folder `skin` which contains the two current opencanary skins. In order to add an IIS server; you will need to find a live version of an IIS Server and copy over the html/javascript/css

[2019-01-04 14:29] dsikic opened #56 "DST Port 631 - Alert every 10 minutes"
How to make these stop? In the config, I don't see any service which is running on this port, yet I receive an email about this every 10 minutes or less. Everything is default, except almost all services are on.

**{"dst_host": "127.0.0.1", "dst_port": "631", "local_time": "2019-01-02 12:20:54.170414", "logdata": {"DF": "", "ID": "57201", "IN": "lo", "LEN": "60", "MAC": "00:00:00:00:00:00:00:00:00

[2019-01-07 12:37] thinkst commented on #56
Hey @dsikic,

The logtype that is exposed there tells us that it is a portscan incident. This means that someone/something is scanning your device for port 631 (which is a traditional CUPS server port).

To stop the portscan incidents, you would need to set the config value `portscan.enabled` to `false`.

Please let me know if you need any more explanations or help.

[2019-01-07 12:47] thinkst commented on #54
hey @p1r06u3,

That is very cool. We always encourage contributions and pull requests.

Thanks for taking an interest and running with it.

[2019-01-07 13:39] dsikic commented on #56
Hi @thinkst,

Thank you for the prompt response. If src_host is 127.0.0.1 wouldn't that rule out another machine on the network, or does that not apply for this logtype?

Thanks.
Denis

[2019-01-08 09:22] thinkst commented on #56
Hey @dsikic,

That is interesting (sorry i didnt notice that at first). What OS and version are you running opencanary on? I can try replicate the issue and figure out whats going on. At this point, im wondering if it is something on the same machine that is checking for printer functionality (or something like that).

[2019-01-08 17:48] dsikic commented on #56
@thinkst

I'm using Raspberry Pi Zero wireless, running Raspbian with UI configured, all defaults except every option turned on in your config and an SMTP log forwarder set up. What do you need from me?

Thanks again!
Denis

[2019-01-09 19:08] citnadxela commented on #53
Hi @thinkst

What about RDP & apache?  When I try to RDP into the server using Windows Remote Desktop, it's unable to initiate a conncection.  I have it enabled, along wi/ the port in the config file:
![image](https://user-images.githubusercontent.com/40772046/50922243-deacd380-13fe-11e9-9efe-2d29516df829.png)

[2019-01-11 19:10] citnadxela opened #57 "Samba alert being sent multiple times."
I believe I got the Samba share working.  Whenever a file is accessed by myself or another person, I get an e-mail alert.  However, it will send multiple alerts of the same thing.  For example, this is what it says in all the e-mails following the initial alert e-mail:
![image](https://user-images.githubusercontent.com/40772046/51054338-6de9f080-1591-11e9-8599-6d17d1bd274d.png)

Is there any way t

[2019-01-14 15:05] thinkst commented on #53
Hey @citnadxela,

Please make sure you installed the additional dependencies required for rdp:
`$ sudo apt-get install -y build-essential libssl-dev libffi-dev python-dev
$ pip install rdpy`

If you definitely have installed these. Would you mind scanning your opencanary and checking that the port is open?

(I ran into a silly issue where I added the `rdp` config values at the top of the config fi

[2019-01-14 15:24] thinkst commented on #56
Hey @dsikic,

Thanks for the info. Ive tried to replicate your issue (without having a Raspberry Pi Zero wireless). What I did notice however, is that the `dst_host` and `src_host` are `127.0.0.1` in your incident, whereas if it was something externally portscanning your OpenCanary, we would see something like,

`{"dst_host": "192.168.1.88", "dst_port": "23", "local_time": "2019-01-14 15:10:28.691

[2019-01-14 15:25] thinkst commented on #28
Closing this due to inactivity. Please reopen if you have any related queries.

[2019-01-14 15:25] #28 closed

[2019-01-14 17:39] citnadxela commented on #53
Hey @thinkst

The dependencies were installed.
Enabling ufw was how it was resolved:

`sudo ufw enable`

Thanks again.  I had another question if you don't mind.  Is there a way to make the canary act/look like an old Windows XP machine by any chance?
Let me know.

[2019-01-15 05:06] p1r06u3 opened #58 "What is the opensource License of the opencanary?"
What is the opensource License of the opencanary?

[2019-01-15 07:50] thinkst commented on #58
Hey @p1r06u3,

Opencanary is licensed under BSD 3-Clause "New" or "Revised" License. You can read more about that in the [LICENSE](https://github.com/thinkst/opencanary/blob/master/LICENSE).

Please let me know if you have any other questions. I really think your opencanary web stuff is great.

[2019-01-15 08:44] thinkst commented on #53
Hey @citnadxela,

Oh thats great. Im putting together a FAQ (wiki type document) and ill add this to it for sure. Good find!

With OpenCanary, the way to get here is to simply run the sort of services one is likely to find on an XP Machine (the Windows filesharing, and maybe make use of the custom TCP Server to handle some of XP’s small services).

Our paid for [Canary product](https://canary.tool

[2019-01-15 08:51] thinkst commented on #57
Hey @citnadxela,

So the explanation here is that we are alerting based on whats coming through in the logs. In the logs you will see that it reports each read (which for some files may take more then one read operation). This means we would see multiple alerts for the same file being opened.

We haven't added support to handle this nicely (yet!). You could add it by looking at the `samba.py` file

[2019-01-15 12:18] p1r06u3 commented on #58
Thank you for your recognition.
Because in the issue https://github.com/p1r06u3/opencanary_web/issues/19 that asked me the opencanary_web's License. I think it belong to Thinkst opencanary honeypot, so I know how to reply her question.

[2019-01-17 21:31] citnadxela commented on #53
Hey @thinkst

Going back to using OpenCanary wi/ IIS/apache.  So I was able to create my own skin.  Everything looks & works fine.  It's a login page similar to the default Synology one.  The only issue I have & possibly hope you can help me on is that when someone attempts to login, I want it to display something similar to this:

![image](https://user-images.githubusercontent.com/40772046/513500

[2019-01-23 13:46] thinkst commented on #53
Hey @citnadxela,

Nicely done on getting your own skin working.

In terms of getting that message on a failed (every) login attempt. I think the best way would be:
1) use javascript to hook into the response, and display that message from the response from the submit (when trying to click login).
2) server side, you would need to anticipate the request; and make sure the response contains the mess

[2019-02-05 08:21] thinkst commented on #58
Closing this as resolved 🤘

[2019-02-05 08:21] #58 closed

[2019-02-18 10:24] prashantvidja opened #60 "VNC not generate any alert for Mac os."
Hello,

I have installed open-canary in my vmware and enabled VNC service in conf file on 5000 port.

if I connect from other Ubuntu machine from same network then it is generating alert.

But from Mac Os sierra10.12 it is not working using default VNC client **screen sharing**,  but when I used **realvnc** third party client in mac then it also generate alert.

why mac default VNC client not gene

[2019-02-25 15:57] thinkst commented on #60
Hey @prashantvidja,

Thanks for bringing our attention to this. Ill investigate it and get back to you.

[2019-02-27 13:53] greg-dobedobedo opened #61 "samba-audit.log file not watched"
I used to have the samba events handled by opencanary logger but it does not seem to be the case anymore.

twistd has a file descriptor for this file, so the configuration seems ok:

root@a8de6856982e:/# lsof /var/log/samba-audit.log
COMMAND  PID USER   FD   TYPE DEVICE SIZE/OFF    NODE NAME
twistd     1 root   11r   REG    8,1      392 1971342 /var/log/samba-audit.log
rsyslogd  46 root    6w   RE

[2019-02-28 06:17] prashantvidja opened #63 "opencanary and rdpy required different version of pyasn1."
Hello,

I was try to install opencanary in my alpine linux machine.
When i was install opencanary then there is not any problem but when I am going to install rdpy then it required pyasn1<0.5.0,>=0.4.1 after that i have install 0.4.1 version of pyasn1. then I have seen error that,
`opencanary 0.4 has requirement pyasn1==0.1.7, but you'll have pyasn1 0.4.1 which is incompatible.`

So which version

[2019-03-12 10:02] thinkst commented on #60
hey @prashantvidja,

Thanks again for bringing this up. The short answer is that our VNC implementation only supports one of the three (the latest and most common) RFB protocol versions.

If you would like to extend the `vnc.py` module, we would gladly accept a PR (and send some swag for helping out!).

[2019-03-12 10:22] thinkst commented on #61
Hey @greg-dobedobedo,

Thanks for all the info. Im trying to get setup so that I can try reproduce the issue. Would you mind providing me with what your `smb.conf` looks like?

[2019-03-12 13:20] thinkst commented on #63
Hey @prashantvidja,

Im sorry that you have hit that issue. I have tried to replicate it and found that if I `pip install opencanary` before running `pip install rdpy`, the dependencies work out fine because `rdpy` doesn't specify the version of `pyasn` required.

That said, ive also gone ahead and tested opencanary using the latest version of `pyasn1`, and it seems to have passed all initial test

[2019-03-12 14:38] #35 closed

[2019-03-12 16:53] greg-dobedobedo commented on #61
Hi @thinkst

Sure:
[code]

[2019-03-13 09:10] thinkst commented on #61
Hey @greg-dobedobedo,

Thanks for the additional info. I have tried to replicate your issue without any success. Does restarting the opencanary process rectify this issue?

We have started working on a new way in which to monitor these Samba events since the log file watcher can be unstable at times.

[2019-03-13 10:18] greg-dobedobedo commented on #61
Hi @thinkst, I forgot to mention I also have an additional syslog handler. Here is the opencanary.conf file:

[code]

If this new handler cannot change the way the FileSystemWatcher work (and I don't see why), I guess the issue is related to the fact I'm using a docker image, based on python:2.7-slim-stretch, with a different behavior of sysVinit (for instance no init process). My CMD instruction

[2019-03-13 10:29] prashantvidja commented on #63
Ok thanks for your replay.
Now it resolved.

[2019-03-13 10:29] #63 closed

[2019-03-14 10:00] thinkst commented on #61
Hey @greg-dobedobedo,

Thanks for the update. Thats an interesting (and cool) setup you trying to get going.

In terms of the exec command, maybe try using the exact one that we use in the `opencanaryd` script which is
`"/usr/local/bin/twistd" -y "/usr/local/bin/opencanary.tac" --pidfile "/opencanaryd.pid" --syslog --prefix=opencanaryd`.

Im going to try build up an OpenCanary docker with your spe

[2019-03-15 14:11] greg-dobedobedo commented on #61
@thinkst, if you are comfortable with Docker, here is my simplified Dockerfile.

I would like to share the whole sources, but it requires some documentation. My image contains several canary profiles (actually opencanary.conf files). The profile to use is defined by an environment variable CANARY_TYPE defined in the compose file.

[code]

[2019-03-16 04:58] prashantvidja commented on #60
Thanks,
Resolved in new release 0.5.1.

[2019-03-16 04:58] #60 closed

[2019-03-18 08:35] thinkst commented on #61
Hey @greg-dobedobedo,

Thats really cool. Thanks for the Dockerfile (im trying a slightly different way of doing it).

Can I ask that if you nmap the docker container, does it show the exposed ports of the services that you have enabled?

[2019-03-18 16:55] greg-dobedobedo commented on #61
@thinkst, yes it show the exposed ports. Better than that, I can browse the share, open the fake document and events are created in the samba-audit.log.
For other profiles such as SSH or FTP, service and logs work fine.

[2019-03-19 15:47] 2raziel3 opened #64 "error with running SSH"
Hi,

I have got http, telent and FTP working and logging locally, however when I enable SSH i am getting an error when starting ;

{"dst_host": "", "dst_port": -1, "local_time": "2019-03-19 15:37:57.272196", "logdata":
{"msg":
{"logdata": "Failed to add service from class CanarySSH in opencanary.modules.ssh.
Traceback (most recent call last):\n

File \"/home/ubuntu/env/bin/opencanary.tac\", line 8

[2019-03-20 09:29] 2raziel3 commented on #64
I am running the following ssh;
OpenSSH_7.2p2 Ubuntu-4ubuntu2.8, openSSL 1.0.2g 1 Mar 2016

I have tried changing the config to;
"ssh.version": "SSH-2.0-OpenSSH_7.2p2 Ubuntu-4ubuntu2.8",
"ssh.version": "OpenSSH_7.2p2 Ubuntu-4ubuntu2.8",

I also tried generating new keys, all of these are resulting in the same error.

[2019-03-22 10:01] 2raziel3 commented on #64
Hi,

looking through your ssh.py module i saw that your SSH_PATH="/var/tmp"
looking through this i found that there were no SSH keys in that directory.
By copying the ssh keys i generated in the default ~\.ssh  directory i resolved the above issue but was presented with a new one;

{"dst_host": "", "dst_port": -1, "local_time": "2019-03-22 09:51:13.272196", "logdata":
{"msg":
{"logdata": "Failed t

[2019-03-22 10:16] 2raziel3 commented on #64
resolved this issue by generating keys using DSA and transferring them to /var/tmp
a note for anyone else who has this issue I had to generate the keys without passphrases.
@thinkst if there is a way to pass these passphrases in the config could you let me know :)

[2019-03-22 10:20] thinkst commented on #64
Hey @2raziel3,

Sorry for the delay in my response. Well done on getting that first issue sorted. For the current one, you will have to repeat those steps and generate `DSA` keys in the same path, labelled `id_dsa.pub` and `id_dsa` as it seems the method that should be generating them for you is failing.

I would love to know if you tried to run
`
from Crypto.PublicKey import DSA
from twisted.pyth

[2019-03-22 10:35] thinkst commented on #64
@2raziel3 I glad you got it sorted and thanks for noting it for us for future problems.

Out of interest, what OS are you trying to run your OpenCanary on? We have seen this issue crop up here and there, but nothing definitive in terms of why. I suspect that `.generate` step is failing silently and so the next method fails because the keys weren't generated correctly.

[2019-03-22 10:36] 2raziel3 commented on #64
Hi,

no worries on the delay, the fact you support this open source solution at all is pretty awesome :) .
I have tried running the key generation above but I am getting an error on line 5, where its stating
'keys' is not defined.

understandably i am getting the same error in line 6.

ran the code twice to check if i had made an error, seems not to be the case.

[2019-03-22 10:37] 2raziel3 commented on #64
I am running on ubuntu 18.04 .
however i had the same issue on 16.04 and ubuntu mate and rasbian.

[2019-03-22 10:37] thinkst commented on #64
Ah well spotted.  You would need to import
`from twisted.conch.ssh import keys`

[2019-03-22 10:39] 2raziel3 commented on #64
so following that import I am getting the error I had before where the _DSAobj has no 'public_key' attribute. So looks like as you said the automated key generation is not happening.

[2019-03-22 10:39] thinkst commented on #64
Thanks for following up. Ill take a look into why this happens. Thanks @2raziel3

[2019-03-22 10:40] 2raziel3 commented on #64
@thinkst your welcome

[2019-04-03 13:01] prashantvidja commented on #64
It is working in twisted 14.0.2. not in 18.4.0.
So downgrade this version and it will work fine.

[2019-04-08 11:54] prashantvidja commented on #61
@greg-dobedobedo @thinkst

Does portscan module is working for that?

Thanks

[2019-04-08 15:25] thinkst commented on #64
@2raziel3 please let me know if downgrading the twisted version fixes this?

[2019-04-08 15:27] prashantvidja commented on #64
@thinkst yes.

[2019-04-10 08:21] prashantvidja opened #65 "Angry ip scanner not detect canary port."
Hello,

I have try to scan canary vm using angry ip scanner but it is not detect any canary service port.
It is showing only default service port only.
Nmap showing all ports.

Thanks

[2019-04-11 09:32] 2raziel3 commented on #64
@thinkst sorry but I am on holiday for the next few weeks, I can pick this up when i get back.

[2019-04-12 14:34] thinkst commented on #64
@prashantvidja I am currently running the latest version with ssh working (and alerting). I don't suspect it is a python issue. I suspect the issue is connected to not being able to generate DSA and RSA keys.

@2raziel3 thanks, that would be great. Enjoy your holiday!

[2019-04-12 14:53] thinkst commented on #65
Hey @prashantvidja,

Thanks for pointing us at a new IP scanner. Currently if I aim Angry IP scanner at my OpenCanary instance, it does show the open ports that are expose by the OpenCanary daemon.

The default angry ip scanner scan didn't, however, in the settings, you need to specify which ports to scan on any given host.

[2019-04-30 08:29] ajhubs commented on #56
Hi

Did anyone figure out what was causing this as I have the same problem on Ubuntu Server 18.04 ?

Iv tried blocking localhost access to localhost on that port with UFW but this has not helped

Thanks

[2019-04-30 09:09] thinkst commented on #61
hey @greg-dobedobedo,

Sorry for the delay in my response. Did you come right with the smb?

[2019-04-30 09:13] thinkst commented on #56
Hey @ajhubs,

We didn't conclude on why it was happening unfortunately, but Ill try it with Ubuntu Server 18.04 and see if I can replicate and figure whats going on. And get back to you.

[2019-04-30 09:26] prashantvidja commented on #65
Hello @thinkst

Yes i have specified that port on 10-10000 on settings.
But still not showing any port.

Thanks

[2019-04-30 13:28] ajhubs commented on #56
Thanks
It would be really good if I didn’t have to turn off port scan detection because this, as it’s so useful.
Happy to test anything you can think of and report back if needed.

[2019-05-01 16:51] p-doyle commented on #64
I was having the same issue as 2raziel3 on Ubuntu 18.04.2.  Confirming downgrading twisted to 14.0.2 solved the issue.

[2019-05-01 18:49] 2raziel3 commented on #64
Hi,

Sorry I have not tested the downgrade myself yet, have a deadline on
another project. Although based on two people having the dame results I
would think it's defiantly changes made to twisted.

On Wed, 1 May 2019, 17:51 p-doyle, <notifications@github.com> wrote:

[2019-05-01 19:26] dsikic commented on #56
I’ve been living with dozens of emails a day, waiting to hear back on this ticket.

Sent from my iPad

On Apr 30, 2019, at 9:28 AM, ajhubs <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks
It would be really good if I didn’t have to turn off port scan detection because this, as it’s so useful.
Happy to test anything you can think of and report back if needed.

—
You are re

[2019-05-02 11:36] thinkst commented on #64
Hey @2raziel3, @p-doyle, @prashantvidja,

Thank you so much for debugging and sending through info. Would you mind repulling your opencanary version? Ive bumped the version to 0.5.2 (which should fix this SSH issue).

The issue, for those wondering, was that the new Twisted version was referencing a different variable in its keys library for the public. I have changed the crypto library we use to

[2019-05-02 12:29] p-doyle commented on #64
After updating it seems to work.  Thanks for such a quick turnaround on this!

[2019-05-02 13:33] thinkst commented on #56
Hey @dsikic, @ajhubs,

Im just setting up testing rigs of both raspbian and ubuntu. My initial tests don't replicate your issues (yet). The one thing I did notice from the logs generated by the portscan module is that on an actual portscan from another host, both IPs are present. So `dst_host` would be the targeted host ip i.e. the system running opencanary while the `src_host` be offending ip i.e

[2019-05-03 14:58] #52 closed

[2019-05-07 15:50] greg-dobedobedo commented on #61
Hello @thinkst,

Unfortunately, I didn't have time to progress on it. I know that twistd has a file descriptor on the /var/log/samba-audit.log but does not follow it when new lines come.
I have no clue why it would be related to docker.

@prashantvidja, I haven't tested it actually. I don't know how this will react in a docker container, even in the "host" network mode. I should expose multiples p

[2019-05-07 18:53] prashantvidja commented on #61
@thinkst Thanks for your replay.
Yes you are right, I have already tested that using "host" network mode. And it is works for me.
And also we must need to start rsyslog in container otherwise it will not generate alert for portscan.

[2019-05-14 09:41] 2raziel3 commented on #64
Hi @thinkst ,

Sorry for the delay, just re-built from master and the SSH keys are auto-generating.
Happy that this is resolved, and thanks for taking the time to do it.

[2019-05-14 09:41] #64 closed

[2019-05-27 09:08] PimDoos opened #67 "Samba audit log watcher (samba.py) crashes when encountering invalid log lines"
**Module**: [`samba.py`](https://github.com/thinkst/opencanary/blob/master/opencanary/modules/samba.py)

**Expected behaviour**: The samba audit log watcher should throw an exception like "unreadable audit log line" when it encounters an unreadable line in the audit log and carry on with the rest of the audit log lines.

**Actual behaviour**: The samba audit log watcher crashes when it encounters

[2019-05-28 15:55] greg-dobedobedo opened #69 "No event in samba-audit.log with samba 4.8.3, XFS and CentOS 7.6"
Hello,

The recommended configuration for smb.conf is to audit the succeed pread operations and record them in /var/log/samba-audit.log via rsyslog.

But in my case, I have no 'pread' operation when I open a .txt or a .docx file from the share.
However, with "full_audit:success = all", I can see many operations including pread_recv and pread_send. See attachment.

I guess we can choose 'open' or '

[2019-05-28 16:23] greg-dobedobedo commented on #61
I have exactly the same behavior on a standard centos 7.6, with the same configuration.

And I finally found the cause. This is the presence of the parameter 'portscan.synrate' in my opencanary.conf:

[code]

I didn't configure anything on IPTables to make the portscan works. I guess the watch of an unexisting /var/log/kern.log makes the file watch process stuck.

@prashantvidja was right when ask

[2019-05-29 22:04] hydrogencn commented on #48
Hi @thinkst, I'm having similar issues as the other two posters. Here's what I've tried:

in /home/user/.opencanary.conf I have:

...
"smb.enabled": true,
    "smb.configfile": "/etc/samba/smb.config",
    "smb.filelist": [
        {
            "name": "passwords.txt",
            "type": "TXT"
        },
        {
            "name": "passwords.docx",
            "type": "DOCX"
        }
    ],

[2019-06-03 06:46] PimDoos commented on #69
A problem with a some of these operations (ex: open) is that they generate more than 3 columns of audit information after the audit prefix, which the current implementation of [`samba.py`](https://github.com/thinkst/opencanary/blob/master/opencanary/modules/samba.py) cannot handle. (it expects 3, and crashes when a log line doesn't conform this format.)
Pull #68 mitigates this by dropping lines th

[2019-06-11 12:11] #61 closed

[2019-06-11 12:14] greg-dobedobedo commented on #69
Ok for open. In my case, I chose "full_audit:success = pread_recv" and this works well:

{"dst_host": "10.91.0.158", "dst_port": 445, "local_time": "2019-05-28 16:28:21.609238", "logdata": {"AUDITACTION": "pread_recv", "DOMAIN": "ACC-SERVER", "FILENAME": "2015-ACC-Salaries-NB92.docx", "LOCALNAME": "acc-server", "REMOTENAME": "gva-d150403", "SHARENAME": "accounting", "SMBARCH": "OSX", "SMBVER": "SM

[2019-06-11 12:14] #69 closed

[2019-06-13 08:48] jayjb commented on #53
Hey @citnadxela,

Im closing this issue for now. Please reopen if you would like to continue this discussion.

[2019-06-13 08:48] #53 closed

[2019-06-13 08:51] jayjb commented on #48
Hey @hydrogencn,

Sorry for the delay. I have a quick test for you to try, would you mind changing your `smb.conf`to reflect `full_audit:prefix = %U|%I|%i|%m|%S|%L|%R|%a|%T|%d`. We saw a strange issue where the issue was resolved by a user making that change.

We are having a hard look at the `samba.py` working soon, so I suspect there will be some changes soon to help get it running smoother and

[2019-06-13 08:52] jayjb commented on #49
Closing this issue. Please reopen if you would like to continue the discussion.

[2019-06-13 08:52] #49 closed

[2019-06-13 08:53] jayjb commented on #43
Hey @deanhinson,

Im closing this issue for now. Please reopen if you would like to continue the discussion.

[2019-06-13 08:53] #43 closed

[2019-06-13 08:55] jayjb commented on #50
Hey @Raul1718,

The more recent version of OpenCanary contains some fixes for issues with SSH and generating keys. Please give it a go and let me know if it still doesn't work. Im closing this issue for now. Please reopen it if things dont come right.

[2019-06-13 08:55] #50 closed

[2019-06-13 08:56] jayjb commented on #54
Closing this issue. Please reopen if you would like to continue this discussion.

[2019-06-13 08:56] #54 closed

[2019-06-13 18:52] hydrogencn commented on #48
Hi, thanks for the reply. Here is my updated smb.conf:

[global]
workgroup = workgroup
server string = Windows 2012 File Server
dns proxy = no
log file = /var/log/samba-audit.log
max log size = 1000
usershare path =
log level = 2
vfs object = full_audit
#full_audit:prefix = %U|%I|%i|%m|%S|%L|%R|%a|%T|%D
full_audit:prefix = %U|%I|%i|%m|%S|%L|%R|%a|%T|%d
full_audit:success = pread
full_audit:failure

[2019-06-30 17:42] p1r06u3 opened #70 "Can not input password for rdp honeypot"
Hi, I try to connect rdp honeypot server with windows 2008 R2 destop and win10，but log
 in processing I can not input password.
Because it isn't pop a Credentials window and then turn to self.doEvent(0) for rss. In mac os it will pop a Credentials window. Is it a pyrdp lib bug?

[2019-07-10 13:13] dsikic commented on #56
Any luck? I’m seriously considering turning this thing off now.

On May 2, 2019, at 09:33, Thinkst Applied Research <notifications@github.com<mailto:notifications@github.com>> wrote:

Hey @dsikic<https://nam05.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fdsikic&data=02%7C01%7C%7C48701c9580434045423f08d6cf02b87c%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C636924007919769300&sda

[2019-07-17 07:56] jayjb commented on #70
Hey @p1r06u3,

Thanks for reporting this. Ill take a look and get back to you.

[2019-07-17 14:38] c-goosen opened #71 "Any plans to port to python3?"
Hi.

Been interesting going through this project and attempting a py2 + py3 port.

Ive gotten fairly far, but seems at some point will hit breaking changes.

Any internal roadmap for py3?

Thanks

[2019-07-17 14:43] c-goosen commented on #71
https://github.com/c-goosen/opencanary/commit/6b46ca0869b711df602be57f98f69096b4191b80#diff-f33d9ee52a40c9193ac84636f3529bdc
https://github.com/c-goosen/opencanary/commit/2ea3c399bac0f7b48f9d47699be5b2dab35b1c42

Gonna take a while to patch and test comparability on both py2&py3.

Trying to not break py2 completely

[2019-07-18 09:16] HybridAU commented on #71
I've also been working on Python 3 support, also without breaking python 2.

I created issue #33 and made a [pull request](https://github.com/thinkst/opencanary/pull/59). So far I've got the core of OpenCanary running under Python 3 a few of the core modules like FTP, Git, HTTP and SSH working.

I've also written a few basic tests to ensure that my changes don't break backwards compatibility.

[2019-07-18 09:24] c-goosen commented on #71
Great will have a look.

Any issues you still have that can do with assistance?

[2019-07-18 09:33] HybridAU commented on #71
That would be awesome, I've been planning on going through each of the modules in alphabetical order (just because that's the order they are displayed) and porting them to Python 3. I got FTP, Git and HTTP going but I'm currently stuck on httpproxy and I've got pretty limited free time so it's slow going.

If you could take a look, or even just write some more tests that would be really cool.

[2019-07-18 09:42] c-goosen commented on #71
Will fork your repo and see If I can combine what ive done.

[2019-07-18 09:45] jayjb commented on #71
Hey @HybridAU and @c-goosen,

Thanks so much for the consideration. We are planning to port (starting with @HybridAU's pull request). I am sorry it has taken so long, but ill try get to it this week. Thanks for the bump.

[2019-07-18 11:33] c-goosen commented on #71
I will have a look as well see if there is anything not covered yet.

[2019-07-18 12:35] c-goosen commented on #71
https://github.com/thinkst/opencanary/pull/72

[2019-07-24 12:08] byronsims commented on #56
I am having this issue as well.  Running latest version of raspbian lite. Nothing installed except what comes with the OS and

{"dst_host": "127.0.0.1", "dst_port": "631", "local_time": "2019-07-24 09:16:03.859120", "logdata": {"DF": "", "ID": "539", "IN": "lo", "LEN": "60", "MAC": "00:00:00:00:00:00:00:00:00:00:00:00:08:00", "OUT": "", "PREC": "0x00", "PROTO": "TCP", "RES": "0x00", "SYN": "", "TO

[2019-07-24 20:19] dsikic commented on #56
I just ended up unplugging mine.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: byronsims <notifications@github.com>
Sent: Wednesday, July 24, 2019 8:08:52 AM
To: thinkst/opencanary <opencanary@noreply.github.com>
Cc: Denis Sikic <dsikic@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [thinkst/opencanary] DST P

[2019-08-05 22:26] ajhubs commented on #48
In case it helps anyone, once I had samba working and a working file share, I had to have port scan enabled, before accessing the share would trigger an event.

Relevant section of .opencanary.conf below

"portscan.enabled": true,
    "portscan.logfile":"                                                                                                           ",
    "portscan.synrate": 5,
    "por

[2019-08-05 23:29] ajhubs commented on #56
Ok I think I have resolved this issue on my canary !

As port 631 is supposed to be the CUPS printer port, (but not in use in my case) as Im running Ubuntu server 18.04 "lite" with no GUI and minimal default packages, it got me thinking I wonder if something on the OS is querying if it has a printer service running, and as it never get a response, it just keeps checking randomly, so I installed CU

[2019-08-06 01:44] ajhubs opened #73 "What is the recommended was to start opencanary when the system starts ?"
I have tried starting the canary at boot via crontab and also by creating a service, I get the emails stating the deamons have all started and the canary is running, but some don’t work I.e. ssh smb. etc, but they do work if I start opencanary manually ?

What is the recommended way to start the canary at boot ?

Thanks

[2019-08-06 04:04] HybridAU commented on #73
I did a blog post ages ago where I'd installed [OpenCanary on a RaspberryPi](https://xo.tc/installing-opencanary-on-a-raspberry-pi.html). It's a little bit outdated now and I should update it, but it should still work. I created a systemd service which I saved into `/etc/systemd/system/opencanary.service`

[code]

You will obviously need to update the paths to wherever you have installed OpenCanar

[2019-08-06 13:45] ajhubs commented on #73
Thank you :)
Your service is much more sophisticated than mine, unfortunate it seems to have the same issue as mine, ftp works, http works, telnet works, but when I access my smb share it does nothing, even though it says the service has started ?  - i even tried running the service as root as a test.

Any thoughts on why - I have tried smbd with and without requiring a pw and it makes no differen

[2019-08-06 15:47] dsikic commented on #56
Thank you @ajhubs
I’ll give it a shot and report back.

On Aug 5, 2019, at 19:29, ajhubs <notifications@github.com<mailto:notifications@github.com>> wrote:

CUPS

[2019-08-06 19:09] corrupt3k opened #74 "Record failed authentication attempts in Samba"
An enterprise environment will likely have authentication enabled on their file shares.
To make it seem more realistic, guest access should not be allowed via Samba.

After taking away guest access, I do not see a valid way to record failed authentication attempts.

[2019-08-10 16:18] ajhubs commented on #73
Hi think I’ve solved this, the python invitoment must be placed in the root uses home directory, and the service run as root, once set up as below
All canary functions start with the OS and work perfectly :)

(opencanary.service)

[Unit]
Description=OpenCanary honeypot
After=syslog.target
After=network.target

[Service]
User=root
Restart=always
Environment=VIRTUAL_ENV=/root/env/
Environment=PATH=$

[2019-08-12 17:14] hydrogencn commented on #48
@ajhubs

This did help, thanks! The email notification takes about 20 minutes to send, but the data reported works, so that works for me!

[2019-09-03 07:59] Yokeen opened #75 "customise module, link directory & function, but can't open port"
My goal is to capture network traffic in real environments, such as tomcat. I set up a Tomcat folder. You visit it normally, and I get the traffic transferred.
i rewrite a tomcat module, that's my code  (modules/tomcat.py)
[code]
im very very wonder, why when i empty class Tomcat 's __init__ function, my service can be run,Otherwise it won't.

Above code is the inability to run the service. when i

[2019-09-04 11:54] Yokeen commented on #75
i already solve this problem, now i face other problem, how function getChild's parameter [name] can obtain directory???

[2019-09-04 15:16] jayjb commented on #74
Hey @corrupt3k,

You correct that most shares would have some sort of Authentication however we haven't built monitoring for failed login attempts into OpenCanary so for now we leave guest access open. We only monitor file reads.

Ill definitely add this to the feature list because I think it would be a neat/nice addition. If you taking a stab at it, feel feel to bounce some ideas this way and we

[2019-09-04 15:18] jayjb commented on #73
Hey @ajhubs,

Thanks so much for this contribution. I am sure many people will be looking for something like this. Ill mark it down to be added to the wiki for folks to find easily.

[2019-09-04 16:06] jayjb commented on #75
Hey @Yokeen,

Firstly this is very cool and im glad you making custom services.

I dont think i understand your second question though. Can you send me a picture or more of an explanation so I can try help out please?

[2019-09-05 09:57] Yokeen commented on #75
Hi @jayjb

thank u reply me.
my second question is 【How getChild‘s attribute name Gets the path of Folders? such 127.0.0.1/manager/1.html】 i want to obtain /manager/1.html by attribute [name].

[code]
The resources requested in the URL can be obtain，

i see offical method：if  url like this **/foo/bar/baz**   you can use :

`site.resource.getChild('foo').getChild('bar').getChild('baz').`

In here:

[2019-09-05 09:58] Yokeen commented on #75
name equal path

[2019-09-05 19:35] corrupt3k commented on #74
I was thinking of trying to utilize something like this: https://www.samba.org/samba/docs/current/man-html/vfs_audit.8.html

I also read that adding this line in smb.conf will log auth failure/success:
log level = 1 auth_audit:3

But I have no idea how to parse and alert on the output.

[2019-09-09 09:59] #75 closed

[2019-09-18 03:48] sevenlayersinc commented on #73
I'm running mine out of /opt/canaries

When I start it manually, it works as it should.  When I try to add a service, it either starts then immediately shuts down or it repeatedly starts and stops.  Any ideas of how to track down what is causing the SIGTERM?

(opencanary.service)

[Unit]
Description=OpenCanary
After=syslog.target
After=network.target

[Service]
User=root
Restart=always
Environment

[2019-09-21 02:50] etiennemunnich commented on #71
(bump) any progress?

[2019-09-22 14:09] jayjb commented on #71
hi @etiennemunnich,

I am slowly getting through it. I have a separate branch that is the python 3 port.

[2019-09-28 06:44] prashantvidja opened #76 "sip protocol not working"
Hello,

I was testing the sip protocol using linphonec command line in Linux. Using the below command.

Alert is not generating before some time all working well...
I have debugged that and getting below Syslog.

Thanks
Prashant Vidja

[2019-09-30 16:44] jayjb commented on #74
hi @corrupt3k,

Im sorry i missed your reply. I think that may work. If you check in `samba.py` in `modules`, you will see how we handle the parsing of these kinds of logs.

I would suggest, adding the above to the `smb.conf` and seeing what the logs look like that are being created inside that log file. You can then decide whether to parse the lines using an extension of `SambaLogWatcher` or crea

[2019-09-30 16:55] #76 closed

[2019-09-30 17:00] jayjb commented on #48
Hi @ajhubs, @hydrogencn,

Just to be clear with regards to the Samba module; it should only alert on open files not on simply browsing the file share (or atleast that was not our intention). If this is something you would find useful, we can add it to the feature list.

@ajhubs: thanks for finding a workaround though. Im sure thats useful for other users too.

@hydrogencn: the 20 minute time to se

[2019-09-30 17:04] jayjb commented on #56
Hi @ajhubs,

Thats a great find. The original hypothesis was that there was some process checking whether the printer service is running, but I did not think that if nothing responded it would continue trying. Thanks so much for reporting this fix. Would you mind emailing me `jay` [at] `thinkst.com` please?

[2019-10-01 00:38] etiennemunnich commented on #33
bump

[2019-10-02 19:35] dsikic commented on #56
I can confirm that it works.

Sent from my iPad

On Sep 30, 2019, at 13:04, JayJB <notifications@github.com> wrote:

﻿

Hi @ajhubs<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fajhubs&data=02%7C01%7C%7C9c119c3b664c4525e38408d745c8515d%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C637054598961047806&sdata=nPoOXrk1B%2FYYtGU%2FcJM5pf15GAqaXq%2BF4WOfaV8p4eE%3D&reserved=

[2019-10-08 07:16] HybridAU commented on #33
Hey @etiennemunnich I've been busy on other projects and haven't had much time to look at Python 3 support in the last few months but @jayjb has been busy in the [portpy3](https://github.com/thinkst/opencanary/tree/portpy3) branch.

[2019-10-15 13:26] corysolovewicz commented on #73
Awesome, thanks for the writeup. @HybridAU I was wondering how to do this same thing and came across this thread which helped out.

[2019-12-10 13:03] prashantvidja opened #79 "samba not works on ubuntu 19.10"
Hello,

I have installed an open-canary on ubuntu 19.10 within raspberry pi.
Samba not generating Syslog at /var/log/samba-audit.log.
Below is my samba conf.

Also, I have done rsyslog.conf setting as well.
Did anyone fix this?

Thanks

[2019-12-11 06:22] LMNTRIXCORP commented on #56
@jayjb Also I have noticed that if you have printer block in samba conf and your samba accessed by outside then it will generate 631 port scan alert.

[2019-12-12 09:26] prashantvidja commented on #56
@jayjb
I have noticed that if we keep below block in smb.conf and access file using samba then we get 631 alerts.

The upper block is by default in smb.conf.
See if it can solve the issue.

Thanks

[2019-12-17 16:05] bcornw2 opened #80 "Can this be run on any CPU architecture?"
The only clues I've found in your documentation as to arch limitations seems to be in the MacOS install commands.

My question: Can this be run on a RaspberryPi with ARM CPU architecture? Or is x64 required? What about x86?

Thanks,

Ben

[2019-12-18 02:53] rotx commented on #80
I've had it running on a Raspberry 3 (Stretch, 32-bit armv7l) for the longest time, and have since migrated it to a Debian Buster VM on x86_64. The core is Python and will run almost anywhere. There is a dependency on Samba, but that's available everywhere as well.

[2020-01-03 13:24] jayjb commented on #80
Hi @bcornw2,

@rotx is correct. For the basic operation of OpenCanary, you will need python2.7 (support for python3 is coming). There are some functions that may be system dependent though such as Samba.

Please let me know if you have anymore questions.

[2020-01-03 13:26] jayjb commented on #56
hi @prashantvidja,

Ah thats interesting. Im making a list of things i need to test and report back with more info. Ill add this to the list.

Thanks so much

[2020-01-03 13:33] jayjb commented on #79
Hi @prashantvidja,

Thanks for reporting this. Ill take some time and try figure whats going wrong. I suspect that there are some Samba issues cropping up due to newer versions of Samba. It may be that Samba is logging somewhere different now.

It may be worth checking this in steps. Checking that rsyslog is enabled. Checking that it redirects any `local7.*` to your destination you specified. Chec

[2020-01-03 17:28] prashantvidja commented on #79
Yeah, you are right, It's due to samba newer version.
And also I had verified that rsyslog is enabled. Also, it is not generating any logs using local7.*.

[2020-01-03 21:57] bcornw2 commented on #80
Hi @rotx ,

I am trying to use this in pair with the OpenCanary Correlator (https://github.com/thinkst/opencanary-correlator/projects)

But I see that almost all of it has been out of development for more than 4 years. Is this module going to be updated to Python3 soon as well?

Thanks,

Ben

[2020-01-06 07:39] jayjb commented on #80
Hi @bcornw2,

Currently we dont have any development plans for OpenCanary Correlator (https://github.com/thinkst/opencanary-correlator/projects). But this is mostly due to it working as expected.

We could definitely revisit the project to get it python3 compatible if it is something that you are interested in.

[2020-02-16 12:08] ivnmad commented on #73
@sevenlayersinc I'm having the same issue.
Did you ever manage to find a solution?

[2020-02-17 20:28] robertcdonovan opened #81 "Issue with SMTPhandler - cannot resolve"
Having an issue with this error trying to get my first opencanary sensor to email directly to me instead of using a collector and dealing with mandrill (I assume still have to do that?). Installed on ubuntu 18.04 server.

                "SMTP": {
                        "class": "logging.handlers.SMTPhandler",
                        "mailhost": ["smtp.gmail.com", 587],
                        "f

[2020-02-19 00:53] HybridAU commented on #81
I think it's a lowercase 'h' that's tripping you up.

From the [python docs](https://docs.python.org/2/library/logging.handlers.html#smtphandler) it looks like it should be SMTPHandler

[code]

Good luck and hopefully that helps :slightly_smiling_face:

[2020-02-28 14:08] robertcdonovan commented on #81
Ha. Of course something similar. I'll give it a shot. Thank you.

[2020-02-28 15:02] robertcdonovan commented on #81
That was it. Thanks again.

[2020-02-28 15:02] #81 closed

[2020-03-19 18:50] Tam-Lin commented on #56
samba is built with printing support by default.  I disabled printer sharing using
https://wiki.samba.org/index.php/Setting_up_Samba_as_a_Print_Server#Disabling_the_Automatic_Printer_Sharing , and commenting out the printer shares in smb.conf, and at least so far, no more messages.

[2020-04-20 06:57] Vincebye opened #82 "Can this be run on IPV6 network?"
I need some help about how to deploy this honeypot on Ipv6 network.
I try to change the default in internet.TCPServer(self.port, f, interface=self.listen_addr)  to ::
but it not worked.

[2020-04-21 09:13] HybridAU commented on #82
I just tested it and it works for me. I added  `"device.listen_addr": "::0",` to the top of my config file e.g.

[code]

I'm using the [portpy3](https://github.com/thinkst/opencanary/tree/portpy3) branch, but I think it should work on the older branch too.

[2020-04-21 09:44] jayjb commented on #82
Thanks for confirming @HybridAU ! TIL 👍

[2020-04-24 06:20] Vincebye commented on #82
It worked.Thank you~

[2020-04-24 06:20] #82 closed

[2020-05-05 08:56] Knuppel1983 opened #83 "Pushover handler"
Hi Guys,

I'm not really into Linux / Python, but i've managed to get Opencanary working on Python 3.
Can someone show me how to add a Pushover handler?

I've added [this ](https://gist.github.com/tonybolanyo/2a01a468edf44b33a8750ed25ded0314)to logger.py, but cannot get it to work.

[2020-05-07 08:25] HybridAU commented on #83
I don't have a pushover account so it's a little hard to test it, but from a quick glance the code seems ok. Are you getting any specific error messages?

Also make sure you remember to enable the logger in your [settings](https://github.com/thinkst/opencanary/blob/master/opencanary/data/settings.json#L35) by default only the console and file handlers are enabled.

[2020-05-08 11:42] Knuppel1983 commented on #83
Added the code to logger.py, fixed some python3 issues, Opencanary start.

Then, to enable it, I added this to opencanary.conf:
[code]

Now, Opencanary does not start:
[code]

[2020-05-11 08:00] HybridAU commented on #83
Try removing the `message` from your settings.

[2020-05-11 08:02] HybridAU commented on #83
Also you might find that you need to change `import httplib` to `import http.client` and `urllib.urlencode` to `urllib.parse.urlencode`, maybe this is what you meant by "fixed some python3 issues"?

and if you wanted to be more consistent with where settings live you could do
[code]

and then in your settings

[code]

[2020-05-11 08:13] Knuppel1983 commented on #83
Getting there...
Removed message, now when starting Opencanary I receive a Pushover alert for every service on my phone. But not when I access a service (http, telnet). This probably has something to do with the 'message' line?

[2020-05-11 08:28] HybridAU commented on #83
I'm not sure, I tested it on my computer and I can see it tries to send a message to pushover for things like telnet and http (without the 'message' line in my settings.)

When you connect to telnet do you go as far as entering credentials? for me OpenCanary doesn't log just connecting and disconnecting.

Could you try running `opencanaryd --dev` and seeing what is logged to the console when you t

[2020-05-11 08:30] Knuppel1983 commented on #83
Strange, seems to work now. Probably a glitch with Pushover.
But very pleased thanks!

[2020-05-12 00:15] HybridAU commented on #33
I just saw you merged Python3 support. Great work @jayjb :rocket: :tada:

[2020-05-12 00:15] #33 closed

[2020-05-12 18:15] jayjb commented on #33
Hi @HybridAU,

Thanks so much for all the help. I really appreciate it!

[2020-05-12 18:16] jayjb commented on #33
Hi @etiennemunnich,

Python 3 port is merged into master. Please let me know if it works for you.

[2020-06-17 09:55] nodauf commented on #79
@prashantvidja  it may be a little late be could you try with these events;
`connect disconnect opendir mkdir rmdir closedir open close read pread write pwrite sendfile rename unlink chmod fchmod chown fchown chdir ftruncate lock symlink readlink link mknod realpath` instead of `pread`

[2020-06-29 07:04] jayjb commented on #83
@Knuppel1983 thanks for giving Opencanary a shot. I hope it works out for you.

If you think Pushover would be something other folks would enjoy adding to their OpenCanary setup; we would love a PR.

[2020-06-29 19:47] #67 closed

[2020-07-28 16:56] chuck8773 opened #86 "Cryptography version requirements conflict"
When installing based on the current README, I encounter a conflict in the cryptography requirements.

Opencanary requires 2.6.1. rdpy requires something 2.8 or better.

pip install opencanary
	ERROR: pyopenssl 19.1.0 has requirement cryptography>=2.8, but you'll have cryptography 2.6.1 which is incompatible.
pip install rdpy
	ERROR: opencanary 0.5.4 has requirement cryptography==2.6.1, but you'll

[2020-07-29 04:07] HybridAU commented on #86
I believe the only place we use the cryptography library is in the [SSH module](https://github.com/thinkst/opencanary/blob/b6e092e423addc444041c1dc1712b22a4e4828c2/opencanary/modules/ssh.py#L17-L19). Looking at the [change log](https://cryptography.io/en/latest/changelog/#v3-1) from 2.5.0 up to version 3.1 it doesn't look like there are any changes that would cause an issue.

I'll do a few tests t

[2020-07-31 14:43] chuck8773 opened #87 "Logging inconsistency"
Some services log the dst_port with quotes, some log it without. This requires additional work in a SIEM to handle both cases.

"dst_port": 5060
"dst_port": 161
"dst_port": "21"
"dst_port": "3389"

[2020-08-03 07:47] lgflyman7611 opened #88 "error " ERROR 2013 (HY000): Lost connection to MySQL server at 'reading authorization packet', system error: 2"
Hi HybridAU，
     I'm working with the latest version of python3 based opencanary and saw the error when I tried to access the faked mysql service at 3306.

     I am not sure it is a bug or something else. Could do you please give a few advices?

    Thank you! @HybridAU

[2020-08-03 07:50] jayjb commented on #87
Hi @chuck8773,

Ah thats well spotted and definitely not expected. Would you mind telling me which services are doing which? And i can try get a fix in for this

[2020-08-03 07:51] jayjb commented on #86
Thanks @HybridAU! (again!).

Let me know which version would make everything happy and ill bump it in the next version

[2020-08-03 07:53] jayjb commented on #88
HI @lgflyman7611,

Would you mind telling me how you were trying to access the mysql service (and a little about your setup)? This way i can replicate the issue and try get a fix in.

Thanks for reporting it btw

[2020-08-03 09:43] lgflyman7611 commented on #88
Yes. I  "apt-get install mysql-client" on ubuntu 1804 server, and access the service by typing "mysql -h <opencanary's IP> -u <any username> -p<any password>". Opencanary is still running on ubuntu 1804 server.

[2020-08-03 13:50] chuck8773 commented on #87
Looks like the following services pulled from my config.
    "ftp.port": 21,
    "telnet.port": "23",
    "http.port": 80,
    "snmp.port": 161,
    "mssql.port":1433,
    "rdp.port": 3389,
    "redis.port": 6379,
    "tcpbanner_1.port": 8001,
5060

This may also be in the portscan detection.

[2020-08-05 06:02] lgflyman7611 commented on #88
Hi @jayjb ,

Any updates?

[2020-08-05 06:56] jayjb commented on #88
Hi @lgflyman7611,

Sorry for the delay. Currently I can trigger events on my opencanary (py2 and py3) using macos and ubuntu mysql client.

Macos client version: `mysql  Ver 8.0.21 for osx10.15 on x86_64`
Ubuntu client version: `mysql  Ver 14.14 Distrib 5.7.31, for Linux (x86_64)`

The error that you are reporting. Does that appear on the Opencanary side (using `opencanaryd --dev`) or is that mess

[2020-08-05 07:16] lgflyman7611 commented on #88
I am not sure which side the issue is on. But also I tried accessing the service using SQLpro for MySQL app on macbook, turned out the same error. The following is how I install opencanary on ubuntu1804：

apt-get -y update
apt-get -y install python3-dev python3-pip python3-scapy
pip3 install opencanary

BTW, it is running on Python 3.8.2.

[2020-08-05 12:40] jayjb commented on #88
Thanks for the additional info. When i get a moment today, Ill give that a test (running it in python 3.8)

[2020-08-05 13:15] jayjb commented on #88
hi @lgflyman7611,

Confirmed I can replicate the issue. Its python3.8 specific. Ill take a go at fixing it tonight and let you know when it is fix.

As an aside, if you run `opencanaryd --dev` if shows some debug logs. And when you try connect via mysql, you will see the actual issue.

[2020-08-05 15:50] jayjb commented on #88
Hi @lgflyman7611,

Just pushed the fix and bumped the new version of opencanary to include some of the recent fixes that have gone into it. Let me know if it works for you.

[2020-08-06 07:52] lgflyman7611 commented on #88
Bravo!!! It worked! Thanks a lot! @jayjb

[2020-08-06 08:42] lgflyman7611 opened #90 "RDP service has not been added to fake"
Hi @jayjb,

Thanks again for fixing mysql service! Now I am testing the RDP service and found that it can be seen in opencanary.log like "Added xxx to fake". Tested it using Microsoft Remote Desktop app on Macbook, returned like
[code]
Python 3.8.2 remains the same, and here is how I install it:
[code]
there were three errors during installation:

[code]
BTW, I did a search about the libary rdpy a

[2020-08-06 09:01] jayjb commented on #88
Awesome, thanks @lgflyman7611!

[2020-08-06 09:01] #88 closed

[2020-08-06 09:05] jayjb commented on #90
Hi @lgflyman7611,

Ha! You found our neglected child 🙈 . We haven't developed on the RDP module for some time for a few reasons:
1. we feel we can do a better job of it
2. that said, RDP will take a good chunk of dev time (which we haven't assigned to it yet).

But we do plan on revisiting and redoing. Ill throw your name onto the list of "See, people will use it!" (its a longish list now).

[2020-08-06 09:39] lgflyman7611 commented on #90
😄  got it.

[2020-08-20 15:41] jayjb commented on #87
hi @chuck8773,

I have removed those quotes from the default config. Sorry that it caused inconvenience.

[2020-08-20 15:41] #86 closed

[2020-08-22 20:03] sgtwtf opened #91 "Feature requests"
I would love this even more if i could make the email alerts for startup events go to a different email than if an event was triggered.

Autorun prompt during setup or firstrun would be very useful.

[2020-08-24 05:29] gokul-lucifer opened #92 "Cannot configure SSH service"
Hi **jayjb**,
 please help me how to setup ssh services, i have successfully installed opencanary and i started it, So when i tried to connet ssh with wrong password the log details is not generating please help me out this as soon as possible.

[2020-08-24 07:09] #92 closed

[2020-08-24 08:41] jayjb commented on #73
Hey folks,

I'll take a look at this this week and let you know.

Sorry for the delay

[2020-08-24 11:47] gokul-lucifer opened #93 "Setup with SNMP"
Hi **jayjab**

I have tried to setup SNMP services, i have installed scary packages, but i coudnt find how to make use of it please help me out to solve me this.

[2020-08-24 12:54] jayjb commented on #93
Hi @gokul-lucifer,

Would you mind checking out [these](https://opencanary.readthedocs.io/en/latest/alerts/email.html) and letting me know if it helps?

[2020-08-24 13:06] gokul-lucifer commented on #93
hi JayJB,
thank you for this response, i coudnt able to setup *snmp* in opencanary ,
i have no issue with alert
i have installed scary packages after that i dont know what to do to start
snmp

On Mon, Aug 24, 2020 at 6:25 PM JayJB <notifications@github.com> wrote:

[2020-08-24 13:16] jayjb commented on #93
Hi @gokul-lucifer,

Oh sorry; I completely misread that. My apologies. Check to narrow down where the issue is, would you mind posting your `.conf` for your Opencanary setup.

Another route is to run your OpenCanary using `opencanaryd --dev` which will run everything in the foreground. It will make it easier to pick up any issues or errors you may be having (you can also read more about configurat

[2020-08-24 13:18] gokul-lucifer commented on #93
i need to setup SNMP in opencanary, please tell me the command for snmp (example: ftp localhost)

[2020-08-24 13:24] jayjb commented on #93
Hi @gokul-lucifer,

Oh you want to test SNMP. We use a tool called [Hydra](https://github.com/vanhauser-thc/thc-hydra). Once you have that installed (it is quick!), you can run:
`$ hydra -p {passwd} snmp://{ip_address} `
where the above `ip_address` is your OpenCanary's IP address and the password is some string.

[2020-08-24 13:24] gokul-lucifer commented on #93
hey its ok, below i have pasted my .conf file please do check jayjb

{
    "device.node_id": "opencanary-1",
    "git.enabled": false,
    "git.port" : 9418,
    "ftp.enabled": true,
    "ftp.port": 21,
    "ftp.banner": "FTP server ready",
    "http.banner": "Apache/2.2.22 (Ubuntu)",
    "http.enabled": false,
    "http.port": 80,
    "http.skin": "nasLogin",
    "http.skin.list": [
        {

[2020-08-24 13:26] gokul-lucifer commented on #93
hi jayjb
please tell me the command for set upping snmp that's it jayjb

[2020-08-24 13:31] jayjb commented on #93
Hi @gokul-lucifer,

There isnt any special command. Once you have added `snmp.enabled: true` to your config (which you have). It should start up automatically - the same as with the other services (`opencanaryd --start`). If it is not starting up, please ensure you `pip install scapy` since it is a necessary requirement.

Just to be sure, the package is `scapy`.

If you have done everything above

[2020-08-24 13:37] gokul-lucifer commented on #93
hi jayjb
ok i'll check and make my conformation.
I have another question, i need to add another protocol called profinet
can be added to opencanary ?? or it much more difficult to add other protocols

[2020-08-24 13:43] jayjb commented on #93
If you check in the [here](https://github.com/thinkst/opencanary/tree/master/opencanary/modules) you will see all the different supported protocols and their implementations. You will notice that adding a new protocol would not be too hard because Opencanary provides a framework for running any protocol.

You would simply need to add a module `profinet.py` and mimic the protocol not fully, but to

[2020-08-24 13:49] gokul-lucifer commented on #93
Yeah sounds good, thank you @jayjb it was nice times to use with you. we bring up some changes.....

[2020-08-24 13:50] #93 closed

[2020-08-24 17:47] belveruski commented on #90
Thanks for your job ! ;)

[2020-08-25 20:01] theonlyjedi opened #94 "OpenCanary won't start"
Trying to install Opencanary on Raspberry Pi4 running Ubuntu Server.  When entering
opencanaryd --start
getting back the following:
** We hope you enjoy using OpenCanary. For more open source Canary goodness, head over to canarytokens.org. **
[-] Failed to open opencanary.conf for reading ([Errno 2] No such file or directory: 'opencanary.conf')
[-] Failed to open /root/.opencanary.conf for reading

[2020-08-25 20:05] jayjb commented on #94
Hi @theonlyjedi,

Please would you mind pasting your opencanary config here. It sounds like the there is an issue there.

[2020-08-25 22:12] theonlyjedi commented on #94
Here's what I have
GNU nano 4.8                                       /home/ubuntu/.opencanary.conf
    "mysql.enabled": false,
    "mysql.port": 3306,
    "mysql.banner": "5.5.43-0ubuntu0.14.04.1",
    "ssh.enabled": false,
    "ssh.port": 22,
    "ssh.version": "SSH-2.0-OpenSSH_5.1p1 Debian-4",
    "redis.enabled": false,
    "redis.port": 6379,
    "rdp.enabled": false,
    "rdp.port": 3389,

[2020-08-26 13:32] jayjb commented on #94
Hi @theonlyjedi,

You are missing the logger section of the Opencanary config. If you head over to [here](https://opencanary.readthedocs.io/en/latest/starting/configuration.html#logger-configuration), you will see the logger options.

[2020-08-31 16:57] premsatha opened #95 "Running opencanaryd error message command not found"
I can find the command but it fails to execute. OS is Raspian lite latest August build.

[2020-08-31 17:07] jayjb commented on #95
Hi @premsatha,

Could you give me a little more information? What error are you seeing? Which services are you trying to enable? What environment are you using?

[2020-08-31 17:10] jayjb commented on #91
Hi @sgtwtf,

Ye its a known issue that we need to sort. We handle it on the commercial side by filtering logtypes (i.e. if log is from http about a login, then alert rather than alert on all logs).

Ill add it to our update list (otherwise a PR is always welcome!)

[2020-08-31 17:10] #87 closed

[2020-08-31 17:12] premsatha commented on #95
I have completed installation of open canary on pi3. Ran command opencanaryd —start. I get command opencanaryd not found. Did ls - ll the command is there with rwx

[2020-08-31 17:34] jayjb commented on #73
Hey folks,

So i got the following systemd file to work; let me know if it works for you.
[code]
where `/root/ubuntuvb-home/opencanary/opencanaryenv3` is the virtual environment that i installed my Opencanary into.

[2020-08-31 17:42] jayjb commented on #95
Hi @premsatha,

Thanks for the additional info (although there isnt much to go on here).

Would you mind pasting your commands and output? How did you install Opencanary? If you installed it using `pip install opencanary` then you would need to make sure that you are in the same environment that you installed it into.

You can check that your python virtual environment has your opencanaryd by chec

[2020-08-31 19:18] ivnmad commented on #73
It seems to work.. It started the service and it doesn't loop.
This is the outcome when checking the services status:

sudo systemctl status opencanary.service

● opencanary.service - OpenCanary HoneyPot
   Loaded: loaded (/etc/systemd/system/opencanary.service; enabled; vendor preset: enabled)
   Active: inactive (dead) since Mon 2020-08-31 20:07:37 BST; 29s ago
  Process: 450 ExecStart=/home/pi/

[2020-08-31 21:59] sgtwtf commented on #91
PR? Is that product request? Is there a place I can submit that for you?

From: JayJB <notifications@github.com>
Sent: Monday, August 31, 2020 10:11 AM
To: thinkst/opencanary <opencanary@noreply.github.com>
Cc: sgtwtf <sgtwtf@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [thinkst/opencanary] Feature requests (#91)

Hi @sgtwtf <https://github.com/sgtwtf> ,

Ye its a known issue that

[2020-08-31 23:25] premsatha commented on #95
I installed opencanary from source. I did not install the virtual environment. The os I am using is raspian lite.
![2605EAAD-A1D7-4821-A732-A7FBDFDE3586](https://user-images.githubusercontent.com/15081114/91778110-257abd00-ec24-11ea-9381-32243f7e16d4.png)

[2020-09-01 05:05] jayjb commented on #91
Hi @sgtwtf,

Ah sorry I shouldve explained it. I meant a "Pull Request". So all the code Opencanary uses is in this repository. If you find that you have some time and would like to contribute to this project, you can clone the Opencanary repository, make the changes that you would find useful, and submit them to me as a PR (Pull Request).

Let me know if this is something you would be keen to try

[2020-09-04 12:46] loganmarchione commented on #73
@jayjb  - Also working for me, thanks! It successfully starts, stops, and works on reboot. Can this be added to the [documentation](https://opencanary.readthedocs.io/en/latest/) and/or README?

[2020-09-09 12:44] OzGav commented on #73
Hmmm... I went a simple option on Ubuntu 18.04 and I use a small script called start_canary.sh
[code]
and then I ran `crontab -e ` and added `@reboot /root/start_canary.sh`

Seems to work ok?

[2020-09-09 12:50] OzGav opened #96 "local_time reported incorrectly"
Hi all,
When a log entry is made I am finding that the local time is 8 hours out for me. That is I get a report which says `"local_time": "2020-09-09 12:16:42.028417"` but it is actually 2016 where I live. My timezone is GMT+10 and if I type date at the command prompt it shows correctly. I am running opencanary in Ubuntu 18.04 on a trusty Odroid U3.

I can't find anything in the docs about a timez

[2020-09-11 14:20] kmc56 opened #97 "Can't import RDP"
Hi,

I've been struggling to get opencanary to import RDP when starting the service.

I have rdpy installed and am using RHEL 8 VM. I've tried some fresh installs and still no joy.

Is there a compatibility issue with RHEL? or anything blatantly obvious that I may be missing? Happy to provide more info !

Also when installing rdpy it shows this error which says the version of opencanary  (0.5.5) i

[2020-09-11 14:21] kmc56 commented on #97
I read issue #90 previously, is this related or is this module not in a state for usage currently?

[2020-09-15 05:46] jayjb commented on #95
Hi @premsatha,

Did @nodauf comment help? Let me know.

[2020-09-15 05:48] jayjb commented on #97
Hi @kmc56,

Sorry for the delayed response. Currently, the RDP module hasn't been worked on for some time. We should make a note on the home page. So to be clear, the module isn't in a usage state currently. It needs to be updated (to python3 and in functionality).

Ill add your name to the list and see if we can get some dev time for it.

[2020-09-15 06:02] jayjb commented on #96
Hi @OzGav,

Thanks for writing in.

So with regards to local time, we set it using
`logdata['local_time'] = datetime.utcnow().strftime("%Y-%m-%d %H:%M:%S.%f")`
which means we are using utc time. So i would expect a 10 hour difference instead of 8 hours.

We haven't actually got timezone settings added (yet), but that is a good idea (a PR would be great 😁 ).

Im unsure about this. Does your Ubuntu

[2020-09-16 00:11] OzGav commented on #96
Firstly not sure what happened with the timestamp before but yes it is out by 10 hours so I am getting UTC time.

Since the label in the log is "local_time" is there any reason why the code doesn't just use `datetime.now().strftime("%Y-%m-%d %H:%M:%S.%f")` I could easily do a PR for that if it would be approved? Otherwise I would suggest changing the label to "UTC_time"

[2020-09-16 16:28] kmc56 commented on #97
Awesome, thanks for the reply! Looking forward to working with it in the future if it gets the dev time.

[2020-09-16 19:43] loganmarchione commented on #73
@OzGav  the only issue there is if the service dies, you can't restart it. I believe you can tell systemd to start a crashed service with `Restart=always`.

[2020-09-16 23:33] OzGav commented on #73
OK I assume you mean automatically watchdog style?

[2020-09-18 13:30] kmc56 opened #98 "SSH DSA Key generation error"
Hi,

There seems to be an error when running the SSH module and generating DSA keys.. this may be down to user error but after seeing a similar issue #50 I thought I'd run it through. Using RHEL 8 with pything 2,7 and pything 3.6 installed.

Error:

{"dst_host": "", "dst_port": -1, "local_time": "2020-09-18 13:21:04.428918", "logdata": {"msg": {"logdata": "Failed to add service from class CanarySS

[2020-09-21 09:34] premsatha commented on #95
Hi @jayjb unfortunately it did not. I encountered more errors. Left it for now, did not have time to analyze the errors.

[2020-09-21 20:18] jayjb commented on #98
Hi @kmc56,

Thanks for reporting this. Ill take a look and get back to you ASAP.

[2020-09-22 16:55] YouAllHaveZoidberg opened #99 "Error: config does not have 'logger' section"
I searched and saw a few of these errors posted, but none of the solutions worked for me.  I used https://www.michaelrinderle.com/2020/06/08/sticking-an-attacker-in-a-honeypot-with-opencanary/ guide for the setup and config.

I'm seeing Error: config does not have 'logger' section, and the canary doesn't seem to be starting.

![1](https://user-images.githubusercontent.com/71720692/93912414-c021658

[2020-09-23 19:12] jayjb commented on #99
Hi @YouAllHaveZoidberg,

We have some documentation on this section over [here](https://opencanary.readthedocs.io/en/latest/starting/configuration.html#logger-configuration). Hopefully it helps. Just from eyeballing your logger configuration I dont see anything blatantly broken. It may be a case of a mismatch of `{}` brackets.

[2020-09-23 21:02] YouAllHaveZoidberg commented on #99
Thanks for the reply. I checked that out while I was going through the config to verify against the guide I was following, and I just now checked the braces and they're proper. I found how to export the config. It's all default except for the SMTP addition. I also regenerated the config without modifying it and got the same error.

{
    "device.node_id": "opencanary-1",
    "git.enabled": false,

[2020-09-25 06:38] HybridAU commented on #98
I remember I ran into that `SSH supports only 1024 bit DSA keys` error when I was doing the PR for [upgrading to cryptography 3.0](https://github.com/thinkst/opencanary/pull/89).

It was due to a change in the [cryptography](https://github.com/pyca/cryptography/blob/3.0/src/cryptography/hazmat/primitives/serialization/ssh.py#L333) library. Importing keys that had already been generated was fine, b

[2020-09-26 04:47] cyberflamingo commented on #73
Let me chime in to add my experience, which is similar to @loganmarchione 's one.

[code]

I'm no `systemd` expert but if I understood the doc correctly `Type=oneshot` is useful for one time script execution, not daemon loading like we are trying to achieve here, which is why I get rid of it.

Another gotcha to be aware of for some service is name resolution error:

[code]

Here I believe the daem

[2020-10-02 17:12] kmc56 commented on #98
Hi @HybridAU

Installing using pip installed opencanary 0.5.5. I tried downgrading cryptography but it didn't seem to work.
After installing from source and getting 0.5,6 it worked so thanks for the heads up!

[2020-10-02 20:33] YouAllHaveZoidberg commented on #99
Does anyone have a guide they can share that they used for the config? Or, is there a better alternative than Ubuntu that works?

[2020-10-04 02:19] HybridAU commented on #99
Can you try moving your config file to `/etc/opencanaryd/opencanary.conf` and see if that works?

I've been having a bit of a play with this and I think I might have found a bug that would be giving you this error.

It seems like if we can't find the config file, `getLogger` is the first thing that's called that [needs a config](https://github.com/thinkst/opencanary/blob/fea6e084ef718d0ad09d8e3114

[2020-10-05 13:04] HybridAU commented on #94
Just looking at this, I think it might be the same issue as #99 because the logs start with

[code]
and @theonlyjedi says

GNU nano 4.8 /home/ubuntu/.opencanary.conf

can you try moving your config file to `/etc/opencanaryd/opencanary.conf`

[2020-10-05 13:06] OzGav commented on #96
Any preference for which of the two options above you want me to do the PR?

[2020-10-05 13:16] HybridAU commented on #96
It's @jayjb's call, but my vote would be for changing the label to "UTC_time"

If you have a large geographically distributed network it just makes life easier to record everything in UTC and convert it only when displaying it.

I know that changing the label would be disruptive for people ingesting the logs into siems, but then having the log times suddenly jump by several hours would be disrupti

[2020-10-05 15:10] YouAllHaveZoidberg commented on #99
That worked! Thanks for your help.

[2020-10-06 06:35] jayjb commented on #99
Thanks @HybridAU! Its a good find (and fix!).

[2020-10-06 18:35] #98 closed

[2020-10-06 18:36] jayjb commented on #97
@kmc56 Ill let you know when it does. Thanks for trying out Opencanary

[2020-10-06 18:36] #97 closed

[2020-10-06 18:38] jayjb commented on #96
Hi @OzGav,

So as @HybridAU says we can't really change that now and risk breaking systems that are parsing logs etc. We can create a new field though with a correct label. This would not disrupt current systems, but would allow newer systems to use a more accurately labeled field.

[2020-10-06 18:40] jayjb commented on #95
Hi @premsatha,

Sorry to hear that. If you send through the errors you are experiencing, i can try help debug what you are seeing.

[2020-10-06 18:43] #48 closed

[2020-10-06 18:45] #57 closed

[2020-10-06 18:46] jayjb commented on #70
We are looking at re-doing rdp since we haven't touched that code path in a while. Consider it broken at the moment.

[2020-10-06 18:46] #70 closed

[2020-10-06 18:48] jayjb commented on #65
Hi @prashantvidja,

Im sorry for the delayed response. Did you figure this issue out? If not, would you mind giving me more information about your setup? What does your Opencanary config look like etc?

[2020-10-06 18:48] jayjb commented on #71
DONE! yay!

[2020-10-06 18:48] #71 closed

[2020-10-06 18:51] jayjb commented on #79
@prashantvidja we've update the parsing of the samba logs. Let me know if it works for you in the new Opencanary version

[2020-10-06 18:52] #90 closed

[2020-10-07 06:19] OzGav commented on #96
OK I have submitted a PR. I am not sure if it meets your requirements. If we keep the `local_time` label as UTC time to avoid breaking anyone's stuff then what do we call the new entry? `real_local_time`?

[2020-10-07 06:26] jayjb commented on #96
Hi @OzGav,

Lets chat in the PR. Thanks so much for submitting one.

[2020-10-08 07:52] pavlovic11 opened #103 "SSH logs"
Hi,

I'm wondering if I'm doing something wrong regarding SSH config.
First, when trying to connect to opencanary fake ssh service, ssh command really just hangs.
Second, on ssh connect attempt, in opencanary log I'm seeing only:
`{
  "dst_host": "10.10.20.106",
  "dst_port": 8022,
  "local_time": "2020-10-08 07:31:58.503817",
  "logdata": {
    "SESSION": "5"
  },
  "logtype": 4000,
  "node_id":

[2020-10-08 07:56] jayjb commented on #103
Hi @pavlovic11,

Thanks for giving Opencanary a try. Im sure we will figure this out quickly. Would you mind providing me with some more information of your setup? Your OS? How you running the Opencanary? What SSH client you using to try connect?

[2020-10-08 08:07] pavlovic11 commented on #103
Hi,

Opencanary OS: Ubuntu 16.04.7 LTS
Opencanry is running from virtualenv, followed default installation process at [https://github.com/thinkst/opencanary#installation].
Started with `opencanaryd --start`.
Config at `/etc/opencanaryd/opencanary.conf`
I'm using ssh client on Ubuntu 16.04, same version of OS as Opencanary is running on.

[2020-10-09 02:15] HybridAU commented on #103
Hey @pavlovic11

I think the issue is with the ssh version string you are using. I assume you got that from running `ssh -V`

The problem is that is the version of the OpenSSH _binary_ you have installed on your system, but not the version of the SSH _protocol_ which is what we need.

I don't have a Ubuntu box with me at the moment to check, but on my ArchLinux box running `ssh -V` gives me
[code]

[2020-10-09 05:56] pavlovic11 commented on #103
Hey @HybridAU

this change was not very smart move from my side.
After restoring default value everything is working!
Thank you for your time!

[2020-10-09 05:56] #103 closed

[2020-10-14 21:05] Arconapalus opened #105 "Twisted OSError: [Errno 98] Address already in use"
I started tinkering around this and have opencanary running on raspbian pi, however I came across this.
I have research this and nothing comes up beside what is in the issue regarding the upgrade.

[code]

[2020-10-15 08:28] jayjb commented on #105
Hi @Arconapalus,

Just having a quick look, that error message usually means that the host OS that you are running your OpenCanary on, has something already using that port. If it is port 21, it is likely some FTP service.

What you mind giving me some more information about your setup? What are you running Opencanary on? Which OS?

You could also quickly investigate which process is using port 21

[2020-10-15 09:54] Arconapalus commented on #105
In my development, I have installed this on raspberry pi3 raspbian using python3 and pip3 and created a python venv to install opencanary. I went back in a couple of days later to check to status and I think it was currently running and then when I ran the
```opencanaryd --dev``` I was double-checking that opencanary was still running after I close the venv and logged off. Pretty new to python ven

[2020-10-28 08:24] xx-zhang commented on #99
# error log
[code]

## opencanary.conf
- as same as later

[2020-10-29 18:01] manakill opened #106 "Request: Update instructions"
I need up update my installation and am not sure about how to go about this.

Please add instructions to Readme for updating on Linux (and Raspberry Pi, if different)

[2020-11-04 13:10] pud99 opened #107 "Unable to load "nasLogin" HTTP-skin"
On executing `opencanaryd --start` command, I'm getting the below message. (I'm executing this on CentOS 8 minimal)

`{"msg": {"logdata": "Failed to add service from class CanaryHTTP in opencanary.modules.http. Traceback (most recent call last):\n  File \"/usr/local/bin/opencanary.tac\", line 90, in start_mod\n    service = obj.getService()\n  File \"/usr/local/lib/python3.6/site-packages/opencana

[2020-11-04 14:16] amorrowbellarmine opened #108 "json-tcp logger doesn't work under python3"
I'm attempting to setup opencanary to send log events via json so they can easily be captured by my ELK server. I added the `json-tcp` config settings from [the documentation](https://opencanary.readthedocs.io/en/latest/starting/configuration.html?highlight=syslog#logger-configuration) and tried to launch `opencanaryd --dev`. It launches, but I get errors related to the json logger

[code]

I goog

[2020-11-04 16:25] jayjb commented on #105
Hi @Arconapalus,

Sorry for the delayed response. Am I to understand that you tried running the `opencanaryd --dev` whilst another version of it was running? Because that would explain why you are seeing that that port is in use.

[2020-11-04 16:28] jayjb commented on #108
Hi @amorrowbellarmine,

Ah this is a good find. Ye one of the changes from python2 to python3 is the way in which it handles strings. I mustve missed it in the testing (the use of different loggers). Thanks for supplying a fix too. Ill take a look and get back to you.

In the mean time, please send me an email `jay [at] thinkst [dot] com`. We always like to say thanks with something for folks that

[2020-11-04 16:31] jayjb commented on #107
Hi @pud99,

Thats interesting. Would you mind supplying me with your opencanary config file?

[2020-11-04 16:32] jayjb commented on #106
Hi @manakill,

When you say "update my installation", how did you install opencanary? Did you use `pip install opencanary` or did you clone the git repo and run `pip install .`?

[2020-11-04 16:34] jayjb commented on #99
Hi @xx-zhang,

Sorry you hitting this issue. Did you install your Opencanary using `pip install opencanary`? or did you clone the git repo and use `pip install .`?

[2020-11-04 17:14] manakill commented on #106
I installed it over a year ago so it's hard to remember, but I'm pretty certain it was cloned first and then installed.

According to my notes I made, I never used pip to install.
-installed prerequisites
-cloned git
-ran `python setup.py install`

[2020-11-04 18:34] jayjb commented on #106
@manakill,

If you have the git repo cloned. You can just `git pull` the latest code, re-install (it wont override your config), and restart the `opencanaryd` process via `opencanaryd --stop` and `opencanaryd --start`

[2020-11-05 03:29] Arconapalus commented on #105
No worries, I'm pretty new to the python virtual env and assumed for some reason that when I exited out of the env that it stops the process. Apparently, it did not.

Thank you again for your expertise

[2020-11-05 07:23] pud99 commented on #107
Hello @jayjb ,

Sure. Please find the contents of my `opencanary.conf` file below.

[code]

[2020-11-05 19:06] jayjb commented on #107
Hi @pud99,

Just as a test; if you change that `http.skin: nasLogin` to `http.skin: basicLogin`; do you still hit the same issue?

[2020-11-05 19:08] jayjb commented on #105
Hi @Arconapalus,

Absolutely not a problem at all. Please let me know if you hit any issues and im sure we will get them sorted! Always happy to help.

Good luck

[2020-11-05 19:08] #105 closed

[2020-11-05 19:09] #96 closed

[2020-11-05 19:25] longslowdeath opened #109 "Trouble running pip install"
I used the git command to download the source files. However when I go to run the "pip3 install opencanary-0.5.6.tar.gz", I get the follow error:
ERROR: Command errored out with exit status 1: /usr/bin/python3 /usr/lib/python3                                                                                                                                                             /dist-packages/pi

[2020-11-05 19:28] jayjb commented on #109
Hi @longslowdeath,

I think i may need to see the full command output to figure whats going on there. You could try installing it using `pip3 install .` whilst your current working directory is inside the `opencanary` git repo you just cloned.

[2020-11-05 19:32] longslowdeath commented on #109
I don't do much with github or linux, so please excuse any lack of understanding. Here is what I think you wanted:
ubuntu@ubuntu:~/opencanary/dist$ pip3 install opencanary-0.5.6.tar.gz
Processing ./opencanary-0.5.6.tar.gz
Collecting Jinja2==2.10.0
  Downloading Jinja2-2.10-py2.py3-none-any.whl (126 kB)
     |████████████████████████████████| 126 kB 1.3 MB/s
Collecting PyPDF2==1.26.0
  Downloading

[2020-11-05 19:41] jayjb commented on #109
Hi @longslowdeath,

haha thanks for the info. That actually is more helpful. What OS are you trying to install on? Any other setup that you think would be helpful?

I did take a little look at the error and it seems you may need to install
libffi-dev on Debian/Ubuntu (using something like `sudo apt update && sudo apt install libffi-dev`)or
libffi-devel on Redhat/Centos/Fedora (using something like

[2020-11-05 21:49] longslowdeath commented on #109
I am installing on a RasberryPi 3b using ubuntu-20.04.1 server. I ran the `sudo apt update && sudo apt install libffi-dev`. I then reran the command and got the following result:
ubuntu@ubuntu:~/opencanary/dist$ pip3 install opencanary-0.5.6.tar.gz
Processing ./opencanary-0.5.6.tar.gz
Collecting Jinja2==2.10.0
  Using cached Jinja2-2.10-py2.py3-none-any.whl (126 kB)
Collecting PyPDF2==1.26.0
  Usi

[2020-11-06 12:38] pud99 commented on #107
Yes @jayjb , I faced the same issue and even I tried copy-pasting the default config content but it's the same error that pops up.

[2020-11-06 14:36] jayjb commented on #109
Hi @longslowdeath,

Thanks for the additional info. Would you mind installing openssl with `sudo apt-get install libssl-dev`?

[2020-11-06 14:37] jayjb commented on #107
Hi @pud99,

Thats really strange. How did you install `opencanary`?

[2020-11-06 16:01] longslowdeath commented on #109
Got that and was able to run the install. I tried to copy the config so I can edit it. I am getting these results:
(env) ubuntu@ubuntu:~$ opencanaryd –-start

  OpenCanary v1.0

        opencanaryd [ --start | --dev | --stop | --restart | --copyconfig | --usermodule | --help ]

                --start Starts the opencanaryd process
                --dev   Run the opencanaryd process in the foregro

[2020-11-06 20:27] pud99 commented on #107
Hi @jayjb,

I followed this procedure:

[code]
and rest all the same as shown in the documentation.

[2020-11-09 07:21] jayjb commented on #109
Hi @longslowdeath,

I can't see a reason why those commands wouldn't work. Im going to try setup an Ubuntu 20 version and see if I can replicate this issue.

[2020-11-10 14:49] longslowdeath commented on #109
I reinstalled Ubuntu and decided to install opencanary in the (env). It is allowing to now edit the config. Thanks for the help along the way!

[2020-11-10 14:49] #109 closed

[2020-11-17 03:40] pud99 commented on #107
Hi @jayjb,

Issue is resolved. It was the python dependencies that was causing this issue. Few were missing and needed an update. Once done, a reboot followed by re-configuration of OpenCanary just did the job.

[2020-11-17 03:40] #107 closed

[2020-12-11 18:49] citnadxela opened #112 "Hiding the Linux OS from fingerprinting port scans?"
Opencanary is ran on linux obviously.  I was wondering if there's a way to hide the os (in bold below) from the fingerprinting port scan?

PS C:\Users\> & 'C:\Program Files (x86)\Nmap\nmap.exe' -O -p 1433 opencanary
Starting Nmap 7.80 ( https://nmap.org ) at 2020-12-11 09:06 Pacific Standard Time
Nmap scan report for opencanary ()
Host is up (0.034s latency).

PORT     STATE SERVICE
1433/tcp open

[2020-12-22 21:01] gretel commented on #44
@AMKpeacemaker i think you should make a `port` out of your effort considering the author not interested in supporting `openbsd` https://www.openbsd.org/faq/ports/guide.html

[2020-12-25 18:29] emperortomato commented on #73
I'm having trouble getting opencanary to start properly at boot on Ubuntu 20.04. I've spent quite a while trying to figure this out, but this is a really weird problem.

My systemd service file looks like this. My virtualenv is `/usr/local/bin/opencanary`.

[code]

The really screwy thing is that the service starts, but doesn't _complete_ its startup until a user logs in on the _console_. Logging

[2020-12-25 19:36] emperortomato commented on #73
Um, as a follow-up to my previous post, I think I found a completely nonsensical workaround. I don't understand why this seems to work.

I changed my service `ExecStart` to use `--start` rather than `--dev` (I thought having the output in systemctl might be useful for debugging, but it wasn't helping), and set `Type=forking` since opencanaryd exits after starting twistd.

[code]

This doesn't make

[2020-12-26 20:42] stoneobscurity opened #113 "feature request: post alerts to MQTT"
you already have the email alerts sending a json block, would be really simple to send that via MQTT.

[2020-12-30 06:42] Bruce17 opened #114 "Error installing opencanary 0.5.6 under Python3"
Hi,

I have trouble to install opencanary 0.5.6 using Python 3 which results in this error message:

[code]

Tested it on Python v3.7, v3.8, v3.9 with pip v20.3.3

It does look like a miss configuration in the [pypi package description](https://pypi.org/pypi/opencanary/json):
[code]

This looks wrong to me:
"python_version": **"py3"**,
"requires_python": **"==2.7.*"**,

Version v0.5.5 is properly

[2021-01-01 14:44] andy778 commented on #99
I had same problem with logger error and the problem for me was that it didn't find config file in home directory when it had the leading dot.
/home/ubuntu/.opencanary.conf -> /home/ubuntu/opencanary.conf [OK]

I installed this on raspberry with Ubuntu 20.10 and 32 bit
pip install opencanary

[2021-01-03 09:19] casten commented on #99
I am encountering this as well.  I tried installing using pip as well as from /dist after cloning and building.

[2021-01-04 06:01] jayjb commented on #114
Hi @Bruce17,

Thanks for reporting this. Ive noted it down and will take a look as soon as possible (and get back to you!)

[2021-01-04 06:04] jayjb commented on #112
Hi @citnadxela,

Hiding or fooling the fingerprinting process is totally possible (we do it in our commercial Canary product). The issue with OpenCanary is that we do not know what hardware or underlying OS will be running the OpenCanary program (or what combination of the two). So we haven't (yet), endeavoured to add that functionality to the OpenCanary project.

[2021-01-04 06:07] #106 closed

[2021-01-07 15:33] jayjb commented on #114
Hi @Bruce17,

Would you mid giving it a try now? I had to bump the version a couple times so maybe just try `pip install opencanary`

[2021-01-08 09:58] Bruce17 commented on #114
Looks good now. Thx :-)

[2021-01-08 09:58] #114 closed

[2021-01-13 14:45] nodauf opened #115 "Port scan"
I have tried to detect portscan with opencanary, but I have meet some issues.

On my lab, I set up 3 machines. The attacker (A), the opencanary (B) and a legtimate client (C).
1. The machine A start a nmap against machine B
2. The scan is detected by machine B
3. During the scan of machine A the machine C try to connect to the web interface of machine B

In the log, machine A and machine are detec

[2021-01-13 14:45] nodauf opened #116 "Portscan issue"
I have tried to detect portscan with opencanary, but I have meet some issues.

On my lab, I set up 3 machines. The attacker (A), the opencanary (B) and a legtimate client (C).
1. The machine A start a nmap against machine B
2. The scan is detected by machine B
3. During the scan of machine A the machine C try to connect to the web interface of machine B

In the log, machine A and machine are detec

[2021-01-13 16:50] #115 closed

[2021-01-13 16:50] nodauf commented on #115
Duplicate #116

[2021-01-15 07:43] swannet opened #117 "Error message when using NTP"
I've setup a Open Canary Honeypot with the NTP-module (Running in docker on Ubuntu 18:04 with Python 3 in a Virtual-env).

When querying the NTP server from a Windows 10 client with: "w32tm /stripchart /computer:172.16.1.175 /dataonly /samples:5"

I got the fololow error message on the client
Tracking 172.16.1.175 [172.16.1.175:123].
Collecting 5 samples.
The current time is 15-1-2021 08:38:56.
08

[2021-01-19 16:01] KMoonraiser commented on #79
I have the same issue. Samba is not generating the /var/log/samba-audit.log file. I can't tell if it's a Samba issue or a rsyslog problem.

BTW, the readme has a small error:

should be

The Windows configuration page doesn't have this problem.

[2021-01-19 17:32] KMoonraiser opened #118 "Suggest adding WSD to Samba instructions"
It makes sense that we want our canary to be as visible as possible. Installing WSD makes finding it easier:

https://devanswers.co/discover-ubuntu-machines-samba-shares-windows-10-network/

[2021-01-24 22:47] zavalalabs opened #119 "README.md Install for Ubuntu Broken/Out of date?"
On vanilla install of  Ubuntu 20.10 `sudo apt-get install python-pip` comes back as "not available, however, python3-pip replaces it."

[2021-01-24 23:05] zavalalabs commented on #119
In addition:
`sudo apt-get install python-virtualenv` returns the following:
`sudo apt-get install python-virtualenv
Reading package lists... Done
Building dependency tree
Reading state information... Done
Package python-virtualenv is not available, but is referred to by another package.
This may mean that the package is missing, has been obsoleted, or is only available from another `

Rather the

[2021-01-25 12:42] jayjb commented on #119
Hi @zavalalabs,

Our instructions do need to be updated since they are quite old (I suspect it is forcing you towards python 3 which you should totally go for). Thanks for reporting this. We need to update these for the current (or atleast semi-recent) Ubuntu.

You can go ahead and install the python3 packages it suggests and continue with the instructions and install `opencanary` into your python

[2021-01-25 13:01] jayjb commented on #117
Hi @swannet,

Sorry for the delayed response. Thanks for reporting this issue. I'll take a look at a fix for it shortly and get back to you. If you would like to submit a PR, that would be awesome too.

[2021-01-25 13:06] jayjb commented on #116
Hi @nodauf,

Im not sure I fully follow. So is the issue the your opencanary is reporting a portscan when someone is actually trying to access the web interface (HTTP module)?

Would you mind telling me how soon after the portscan on the Opencanary, did you try connect to the HTTP? When you did the nmap, did you target the Opencanary or do a full network nmap scan?

[2021-01-25 13:07] jayjb commented on #113
Hi @stoneobscurity,

Thanks for the feature request. We always aim to make this project as useful as possible. Currently we dont have it on our roadmap, but we would love a PR.

[2021-01-25 13:24] nodauf commented on #116
Hi,

Thank you for taking the time to answer.

1. Yes
2. I nmap only the opencanary and during the nmap I try to access with another PC to the opencanary.

[2021-01-30 21:08] ldwedari opened #120 "Update Readme for python3"
The Readme instructions to install opencanary are not working any more because they are for python 2. Please update the Readme file to install python3 and to use pip3.
sudo apt-get install python-dev python-pip python-virtualenv
should be:
sudo apt-get install python3-dev python3-pip python3-virtualenv

and any pip command should be replaced by pip3.

[2021-01-30 21:37] ldwedari commented on #95
I had the same issue.  The opencanaryd executable file is added to the /home/pi/.local/bin folder which is not part of $PATH.
Append the line:
export PATH="/home/pi/.local/bin:$PATH"
to your ~/.bashrc file. That should fix it.

[2021-01-31 00:46] #120 closed

[2021-01-31 00:47] ldwedari commented on #120
Duplicated in  #119

[2021-01-31 00:54] ldwedari commented on #119
I had to run this:
apt-get install python3-dev python3-pip python3-virtualenv python3-venv

and create the environment with:
python3 -m venv env/

the:
opencanaryd --start fails because it needs rdp

But the pip3 install rdp fails as well because a version issue.
Besides it is needed to do a pip3 install wheel.
I'm not an expert in python so I don't know how to fix these issues. Hopefully the deve

[2021-02-01 06:54] jayjb commented on #119
Hi @ldwedari,

The installation instructions are old (and are being updated shortly). Thank you for letting me know the steps you took.

Regarding `RDP`, that is a deprecated module that we are redoing. Thanks for reporting it in though. Ill get these instructions updated ASAP

[2021-02-01 21:14] jvedman commented on #73
Thank you, emperortomato. This worked for me, the service starts up quickly and is pretty nimble with stops and starts, but I am a little concerned about how quickly the log file created for twistd is filling up and rolling over. I've been running for less than an hour and already have 4 1M rolled-over log files. Are you seeing this as well?
There is a particular block of stuff that keeps repeatin

[2021-02-01 21:31] emperortomato commented on #73
Hmm, I only seem to be seeing massive log spew on startup; after that it's pretty quiet.

[2021-02-01 21:33] jvedman commented on #73
Okay, I'll check again after it's been running to see if it is still hyperactive. The good news is that it doesn't seem to be particularly valuable info, so I can run a cron job to periodically delete the files if needed.

[2021-02-02 15:26] jvedman commented on #73
I've done exactly the same setup on 4 vms, and seeing the same thing across all of them. My setup is Ubuntu server 18.04.5 LTS fully patched, so python 2.7 and twistd 20.3.0. I'm going to build a server 20.0.4 vm today to test as well.

[2021-02-02 16:16] jayjb commented on #119
Hi @ldwedari,

Ive updated the installations. Thanks for the push.

[2021-02-02 16:16] #119 closed

[2021-02-02 16:21] jayjb commented on #73
Hi @jvedman,

I suspect you seeing all that because you included `--spew`. Opencanary was its own logging mechanisms built in that you can specify in the configuration file. I've just updated the documentation to getting Opencanary running on the latest Ubuntu. On my list is to also add the best practice for starting it on system boot (which i suspect will be something in line with @emperortomato'

[2021-02-02 16:24] jayjb commented on #73
Hi @emperortomato,

Instead of the `Type=forking` to `Type=oneshot`. Did you try this service file:
[code]

[2021-02-04 00:06] NewNeonNeo opened #121 "Docker.latest won't start"
Docker.latest container will not start, stuck in infinite reboot loop. No log output.

**Steps to reproduce**
1. git clone https://github.com/thinkst/opencanary
2. cd opencanary
3. docker build -t opencanary -f Dockerfile.latest .
4. docker-compose up

Docker.stable will start but can't be restarted.  To restart you must delete the container, and the .twistd file in /data.

**Steps to reproduce**

[2021-02-05 19:46] NewNeonNeo commented on #121
@joubin Any thoughts?

[2021-02-08 15:19] maltfield opened #122 "Sign PyPi RelesaseS"
**Describe the bug**

When a user downloads this python module using `pip`, there is no cryptographic authenticity or integrity validation to protect the user from a MITM attack.

Therefore, this project is making any other projects that obtain the `opencanary` module via `pip` in their build process vulnerable to a [watering hole attack](https://en.wikipedia.org/wiki/Watering_hole_attack).

**Exp

[2021-02-12 01:57] NewNeonNeo commented on #121
After further research it appears the twistd.pid file is never cleaned up(no matter how you shutdown the container). After shutting down the container, /root/twistd.pid is always set to 12. The container will no longer start unless twistd.pid is deleted or manually set to 13.

[2021-02-16 15:56] the1gadget opened #125 "Thousands of emails per minute"
Hi All
Just been asked by a company to up there security, I have set up a number of open canaries but getting many email per second from one of them.
Running an internal network 192.168.0.0 / 24 and 192.168.1.0 / 24
The one in the first network (192.168.0.192) gives me many emails per second like this.
{"dst_host": "192.168.0.0", "dst_port": "38081", "local_time": "2021-02-15 16:35:20.020188", "lo

[2021-02-16 16:19] cecio commented on #125
disclaimer: I'm not the maintainer of the project, just a user. That said:

I think opencanary is working just fine here and just helped you in spotting a possible mis-configuration of the edge router.
What the log is showing is that the router is forwarding internally the external traffic (the external IP you see is a known scanning host), so you need to review the router configuration.

As you c

[2021-02-16 16:28] the1gadget commented on #125
Thanks. I think that it is working as well.
Now to go hunting.

[2021-02-17 05:42] jayjb commented on #125
Hi @the1gadget,

As @cecio says, there are a few interesting pieces of information here. The `dst_host` being the network address and the `src_host` being an external IP (a Digital Ocean IP). The other piece of information would be the `dst_port`; it usually tells you what someone is looking for - in this specific case port `38081` doesn't seem to be anything overly relevant unfortunately.

Please

[2021-02-17 05:43] jayjb commented on #122
Hi @maltfield,

Thanks for the great suggestion. Ill get on that and get back to you.

[2021-02-22 12:51] jayjb commented on #122
Hi @maltfield,

Thanks for the suggestion. Ive bumped the Opencanary version to `0.6.0`. And I've gone the route of using `--sign` when uploading the new Opencanary packages.

[2021-02-24 17:20] citnadxela opened #126 "Running a nmap scan against the Opencanary?"
I currently have Opencanary running & it's working as it should.  However, I was wondering if a nmap scan is ran against it, would it alert?  I'm saying this because I'm testing it by running a nmap on my Opencanary from a diff computer that's in the same domain & I thought I would receive alerts, but I'm not.  If it's possible to be alerted, was wondering if I can guidance on where or what file I

[2021-02-24 17:37] theidiotyouyellat commented on #126
@citnadxela do you have portscan.enabled set to true in your opencanary.conf?

[2021-02-24 17:38] citnadxela commented on #126
so when i have 'portscan.enabled' set to true, I literally get non-stop emails.  to the point where I just have to stop the opencanary service all together to make the emails coming in stop.

[2021-02-24 17:41] theidiotyouyellat commented on #126
@citnadxela you may check disabling the email alerts and enable portscan and test nmap. Also of note, the new ip ignorelist might help cut down the emails for things you know about.

[2021-02-24 17:47] citnadxela commented on #126
@theidiotyouyellat so if i disable email alerts & run a test nmap, what log would i look at to see that it's actually working?

[2021-02-24 17:51] theidiotyouyellat commented on #126
@citnadxela do you have the file handler in your logging section?
`"file": {
                    "class": "logging.FileHandler",
                    "filename": "/var/tmp/opencanary.log"
                }`

[2021-02-24 17:54] citnadxela commented on #126
@theidiotyouyellat yes I do.  but inside that log, how can i tell what entry/record correlates to a nmapscan.  right now it's only alerting if someone visits the URL, accesses the Samba share or tries to telnet.

[2021-02-24 18:01] theidiotyouyellat commented on #126
@citnadxela if you run a nmapscan grep the log for the ip of the machine running the scan.

[2021-03-03 18:37] williamk12 opened #128 "Samba module not sending out Alerts"
Samba module is not sending out Alerts on events.  Rsyslog is configured correctly and /var/log/samba-audit.log file is recording audit events.  Opencanary was sending out alrets, but just stopped.  Tried restarting everything and still not working.  Also in the documentation the sample smb.conf file has this entry:
 full_audit:success = pread

This setting produces no log entrys.  I had to change

[2021-03-08 22:44] NewNeonNeo commented on #121
Still can't get docker.latest to run.

[2021-03-13 11:34] bigfatfrog67 opened #129 "Web Server not respoding on port 80"
Hi,

I've install OpenCanary on a PiZero successfully, most of what I've tried so far creates an alert, Telnet, FTP etc but while it shows Port 80 is open nothing come up if I browse to it, nothing is displayed and no alerts come in.

Am I missing something?

Thanks

Jonathan

[2021-03-14 20:14] EmergentMind opened #130 "Recurring start up alerts"
I've set up opencanary on a dedicated rapsberry pi using RPi os. When opencanaryd is running I get the whole sequence of expected startup alerts (e.g. "Canary Running!", "Added service from...") but then they continue to come in over and over again until I stop the service.

Pretty sure I don't have anything out of the ordinary in my config or service files.

[code]
/etc/systemd/system/opencanary.

[2021-03-15 18:56] EmergentMind commented on #130
Looks like there is a different issue that's going on related to multiple services running. Covered under a previously closed issue.

[2021-03-15 18:56] #130 closed

[2021-03-18 10:06] maltfield commented on #122
Thanks! You might also want to work with all your dependent packages to do the same.

[2021-03-20 16:31] bigfatfrog67 commented on #129
Actually this is working now, not sure why it didn't work before!

[2021-03-20 16:31] #129 closed

[2021-03-24 21:31] bigfatfrog67 commented on #56
I had the same issue using OpenCanary on a Pi Zero Wireless, periodic reports on port 631. I've installed CUPS and all seems quiet!

Thanks everyone for tracking this down.

[2021-03-26 16:25] bigfatfrog67 opened #132 "Telnet Honey Creds"
In the config file there is a section:

    "telnet.port": 23,
    "telnet.banner": "",
    "telnet.honeycreds": [
        {
            "username": "admin",
            "password": "$pbkdf2-sha512$19000$bG1NaY3xvjdGyBlj7N37Xw$dGrmBqqWa1okTCpN3QEmeo9j5DuV2u1EuVFD8Di0GxNiM64To5O/Y66f7UASvnQr8.LCzqTm6awC8Kj/aGKvwA"
        },
        {
            "username": "admin",
            "password": "admin1

[2021-03-28 22:51] vsisl commented on #121
I'm having the same issue.

[2021-03-30 07:21] jayjb commented on #132
Hi @bigfatfrog67,

All our services do not allow login because we do not implement the entire protocol. We only create the service so far as authentication. We then return a failed response but grab the info of the attacker and report it.

That `telnet.honeycreds` allows you to specify specific credentials that you may leave lying around. So you would have your Opencanary running at `a.b.c.d` and

[2021-04-03 09:51] bigfatfrog67 commented on #132
Oh I see, understand now, thank you.

Can we setup up similar honeycreds for FTP or SSH as well?

[2021-04-04 17:52] NewNeonNeo commented on #121
Pls let me know if you find a fix....I've been stuck on this for months

[2021-04-19 10:32] c-goosen opened #133 "dockerfile.latest missing sudo"
Latest dockerfile does not include installing sudo, thus bin/opencanaryd  will fail.

Will open PR for this.

Can we look at removing sudo when not necessary in this script? Especially when running in docker and all the Dockerfile's using root user.

[2021-04-20 02:36] SecurityOps404 opened #134 "Issues with .conf file reading from /etc/opencanaryd"
Hi everyone,
  I'm having issues starting opencanaryd. Here is the error I am getting. Any help is appreciated. I have been racking my brain trying to solve this.

[-] Failed to open opencanary.conf for reading ([Errno 2] No such file or directory: 'opencanary.conf'           )
[-] Using config file: /root/.opencanary.conf
[-] Failed to decode json from /root/.opencanary.conf (Expecting ',' delimi

[2021-04-23 14:24] yejinyi opened #135 "Why use encryption algorithms"
Hello, I found a des.py file while reading OpenCanary.I know this is an encryption algorithm of the file, but do not understand the honeypot system in the work, why still use encryption, hope to get help, thank you.

[2021-04-25 02:35] NewNeonNeo commented on #121
https://github.com/thinkst/opencanary/issues/135#issue-866163140 Possible Solution

[2021-04-28 07:00] jayjb commented on #121
Hi @NewNeonNeo,

Sorry for the delayed response. Ill take a look shortly and  hopefully we can find  a solution

[2021-04-28 07:01] jayjb commented on #133
Hi @c-goosen,

Ah that sounds like a good plan (re: removing the need for `sudo` essentially when running inside of docker)

[2021-04-28 09:09] c-goosen commented on #133
@jayjb Ive started down the path, but nothing PR yet. Also working on a blog post for opencanary in k8s

[2021-04-28 10:00] CubeF4rm opened #136 "IP Ignorelisting not working"
I'm trying to whitelist our vulnerability and asset scanning servers as they're triggering port scan alerts on the canary.

I've tried adding the IPs into the ignorelist setting in opencanary.conf, but it's not working.

What's the correct syntax for adding IPs to ignore?

[2021-04-28 10:12] cecio commented on #136
Hello.

The syntax should be the following:

`"ip.whitelist": [ "192.168.1.1/32", "192.168.2.1/28" ]`

IP format is:

[code]

Let me know if this fix the issue.

[2021-04-28 10:19] cubefarm commented on #136
I'm afraid not. I set it to: "ip.ignorelist": [ "172.25.1.137/32" ],

Here is an example event generated:
{"dst_host": "172.25.0.117", "dst_port": "139", "local_time": "2021-04-28 10:17:59.448620", "local_time_adjusted": "2021-04-28 11:17:59.448687", "logdata": {"ID": "941", "IN": "ens160", "LEN": "44", "MAC": "00:50:56:90:57:9d:00:50:56:90:e4:25:08:00", "OUT": "", "PREC": "0x00", "PROTO": "TCP",

[2021-04-28 10:34] cecio commented on #136
OK. I'll have a deeper look into this. I'll let you know.

[2021-04-28 11:45] jayjb commented on #133
@c-goosen oh awesome! Let us know if there is anything we can do to help out.

[2021-04-28 11:48] cecio commented on #136
OK, got it: for portscan (and a few other services, mainly where there is an external log check) the verification is done outside the `__init__` module. It could be an easy fix, but I'd like to discuss it with @jayjb to define the best approach for this.
Thanks.

[2021-04-28 12:03] cecio commented on #136
@jayjb
Given this, may it make sense to move the check from the `__init__` to the `logger.py` in the `log` method. What do you think about it? If you agree I can work on it.

[2021-04-28 12:30] jayjb commented on #136
@cecio, ye i see the issue. There is discrepancy between logging through the CanaryService to our logger, and actually just logging straight to the logger from the module.

I like the idea of moving it to that very end point in `logger.py`. Thanks for picking this up! Let me know if there anything i can assist with.

[2021-04-28 12:30] jayjb commented on #136
Hi @cubefarm,

Thanks for reporting the issue. It's a good find. We should have a fix ready soon for you!

[2021-04-29 11:33] cubefarm opened #138 "Cannot get SMB rsyslog to work"
I've followed the instructions to get SMB logging working here (https://opencanary.readthedocs.io/en/latest/services/windows.html), but no matter what i do there is no samba-audit.log file being created in var/log/

My config files are as below:

 smb.conf

[code]

rsyslog.conf

[code]

[2021-04-29 13:40] cecio commented on #135
Hello.

I'm not a developer of the project, so I don't have a deep knowledge of the code base, but I had a look to what you reported and in the code as well:

the `des.py` module is a python implementation of the DES crypto algo and it is used internally by the VNC module. VNC uses DES for authenticating the connecting clients (in some cases), so that's why OpenCanary needs it.

[2021-04-30 10:44] #138 closed

[2021-05-09 20:50] NewNeonNeo commented on #121
Let me know what I can do to help!

[2021-05-10 07:16] jayjb commented on #121
Hi @NewNeonNeo,

Sorry for the delay again. I've taken a look this morning and made some changes. Would you mind pulling the code from the branch `fix_docker`?

I've made some changes that I think will working nicely. Namely, if will map the `opencanary.conf` file from your current directory to the docker's `/etc/opencanaryd/opencanary.conf` and it runs the `opencanary` daemon in the forreground.

[2021-05-11 02:11] syspect-tech opened #139 "OpenCanary won't start on a Kali Raspberry Pi"
I followed directions here: https://www.paulligocki.com/open-canary-honey-pot-on-raspberry-pi/
I'm not sure how to fix this error when starting `opencanaryd --start`

[code]

Failed to load application: '__name__'

[2021-06-11 18:46] dmelczer commented on #128
I just found the OpenCanary project recently, and think it's fantastic but I'm having the exact same issue...samba-audit.log is populated but it does not appear as though opencanaryd is monitoring the file at all.

Is this something that is actively being worked on, or is this a misconfiguration on my end?

Also, the full_audit:success field only needs "open".  "read" and "pread" don't seem to mat

[2021-06-19 09:54] flamingsnowflake commented on #45
libpcap-dev is still required as of 19 June 2021 - install on ubuntu 20.04 as per git wiki. the dependency is not listed
apt install libpcap-dev satisfies it. maybe add to wiki? as the error is very unspecific...
[code]

[2021-07-06 15:59] mvl64 commented on #108
It seems this issue has been resolved - the current version <Main Branch> contains this fix. You may want to close the ticket.

[2021-07-10 20:47] Taomyn commented on #73
This tested working for me on my RPi-4, thanks

[2021-07-22 22:17] jc19knoxNV opened #142 "ubuntu 20.04 instructions missing required packages"
For general build:

apt install libssl-dev

For pcap (optional) add:

apt install libpcap-dev

This was installing on Raspberry Pi 4 with the Ubuntu Server image for 20.04.  The above packages just need adding to the existing apt install lines of the README.md

[2021-07-22 23:14] jc19knoxNV commented on #142
i.e. that is the error that was caused (summary of course).  installing libssl-dev fixed that one.

i.e. that is the error that was caused (summary of course).  installing libpcap-dev fixed this one.

[2021-07-22 23:27] jc19knoxNV opened #143 "documentation should be clearer"
Take the word and formatting of "Installation"
edit the first to "Installation: Ubuntu"
Appropriately copy,paste,edit:
"Installation: Mac (ports or brew)"
"Installation: Git"

Clear installation instructions never hurt anyone.

[2021-07-23 01:28] jc19knoxNV commented on #56
Thanks @Tam-Lin

@bigfatfrog67 installing CUPS was not the right thing to do.  Disabling the printer stuff in samba is the right thing to do.

The real solution for canary is actually to ignore 127.0.0.1, if there were a breach locally then canary is of no use anyway...

[2021-07-23 03:53] jc19knoxNV commented on #56
This is all moot and 127.0.0.1 doesn't need to be reported on. If the host OS is compromised then OpenCanary is of no use anyway...

[2021-07-28 12:11] c-goosen commented on #133
Not forgotten about this, just need some time to do this the right way and to check what other changes came into the project.

One issue I identified so far was using IP tables in a container.

Docker has a mechanism for setting up IPtables before a container starts, so the nmap mitigations wouldn't work in the current state.

[2021-08-10 10:42] DFF-fred opened #146 "adding https?"
http is ran using Tiwsted. I looked briefly but didn't find any specific file to point to SSL certificates. Any direction to achieve that?
Thank you.

[2021-08-12 16:09] school-j opened #147 "New Webpages"
I am looking to create custom web pages for the HTTP module. I see a skins folder in Github that contains the skins that are default.  I saw variables like BANNER in the HTML files, which I would like to customize even more. To create my own, what information would I need, and where would I put things?

[2021-08-16 18:25] school-j commented on #138
I have the same issue. Did you figure out how to fix this?

[2021-08-17 13:41] Taomyn opened #149 "Any connection regardless of port being logged"
I'm trying to get OpenCanary to work on a clean install of Debian 11 (without GUI), which after installation did not have iptables installed - no idea why, but it seems to miss a lot out when installed this way. I only noticed this because the first run of OpenCanary threw up some messages about iptable commands being incorrect but seemed to continue.

After installing iptables I still got the sam

[2021-08-17 14:03] Taomyn commented on #149
I managed to find one of the iptables commands that fails:

[code]

[2021-08-18 06:33] Taomyn commented on #149
Ok, so being a bit new to Debian I learnt that it now uses nftables by default - after uninstalling that, cleaning iptables and then deleting the env folder, I reinstalled opencanary and this time no errors. I do now see a PREROUTING rule but iptables shows no other.

So the original problem still remains that all connections are being alerted and not just the ones that opencanary is meant to be m

[2021-08-23 06:46] hitjackma opened #150 "How to run opencanary as noprivileged user"
Hi， It's possible to run opencanary as normal user, not root, like how nginx do run as nginx?

[2021-08-23 07:21] ElBiasto opened #151 "Unhandled Error after successfully running for hours."
Hey, I have two Instances of opencanary running. One on a Raspberry Pi and one on a VM.
Both show the same behaviour: After running successfully for multiple hours (sometimes even days) I run into this Error:

[code]

I already did some research and found a post telling this could be caused by a conflict of the NTP Port. That's why I turned off NTP at the config but it ddn't help to solve the Prob

[2021-08-25 14:50] jayjb commented on #151
Hi @ElBiasto,

Thanks for reporting in (and thanks for the info). Just looking at the error it looks like the `SRC` key is missing and it is expected since thats where we get the `src_host` value from.

There are a few ways to figure whats going wrong here:
a) we create a build that has some extra logging so that we can see what the connection/activity is that is causing this issue. Typically we e

[2021-08-25 15:37] jayjb commented on #146
Hi @DFF-fred,

We don't currently support it on our OpenCanary version. It is a reasonable request so ill bubble it up and see if we can get it sorted.

[2021-08-25 15:49] jayjb commented on #136
Hi @CubeF4rm

This is should be fixed.

[2021-08-25 15:49] #136 closed

[2021-08-25 15:53] jayjb commented on #135
Hi @yejinyi,

@cecio is correct. We use it in the `vnc.py` file.

[2021-08-25 15:53] #135 closed

[2021-08-25 15:59] jayjb commented on #134
Hi @SecurityOps404,

The `(Expecting ',' delimiter: line 35 column 5 (char 1131))` error looks like it is failing json decoding that config file. Would you mind pasting your config files?

[2021-08-25 16:01] jayjb commented on #133
Hi @c-goosen,

Ah yes the iptables. Ill check into how we can figure a nice way to handle that. I guess as a quick way forward we could make sure that the portscan module isn't enabled (and other uses of iptables too). But i think finding a clean solution would be best.

[2021-08-26 13:50] edosid opened #152 "startup loop when using opencanary.service"
Hi,

I have setup Opencanary on a Raspberry Pi using Raspbian as OS.
When I start it using the commands:
$ . env/bin/activate
$ opencanaryd --start
It works just fine

But when I create a service and make it start at boot time it keeps on restarting if I use the --start option.
This however is not the case when I use the --dev option, then it works just fine but than obviously is not working like

[2021-08-29 08:42] wlx-33 opened #153 "Can't import RDP."
When I get start, here comes a error:
[-] Using config file: opencanary.conf
Can't import RDP. Please ensure you have RDP installed.
{"dst_host": "", "dst_port": -1, "local_time": "2021-08-29 08:25:02.483895", "local_time_adjusted": "2021-08-29 01:25:02.483916", "logdata": {"msg": {"logdata": "Added service from class CanaryFTP in opencanary.modules.ftp to fake"}}, "logtype": 1001, "node_id": "ope

[2021-09-02 13:23] Taomyn commented on #149
FYI, have given up on Debian 11, didn't like it as a server OS for various reasons, so have gone back to Fedora Server 34, but that had its own issues even though in the end its working better like before.

The server version of Fedora 34 needs a few more packages installing before opencanary will install: gcc, g++ and that excludes the ones where the names are slightly different i.e. python3-deve

[2021-09-03 05:57] jayjb commented on #149
Hi @Taomyn,

Thanks for keeping me in the loop. We actually discussing currently a best approach for opencanary deployment on different platforms since folks are using an array of different operating systems. Its hard to keep track and keep up to date all the different OS setup steps.

[2021-09-03 05:58] jayjb commented on #56
Hi @jc19knoxNV,

Totally makes sense. I would like to rework logging vs notification channels. Which would mean only alerts through to channels like email or webhook while other channels like syslog or file would handle logging.

[2021-09-04 04:12] manincharge commented on #128
I've noticed that the opencanary.conf  smb.auditfile setting by default is not the same as the log file value in smb.conf
Try verifying that it is the same in both places.
(ubuntu 20.04)

[2021-09-04 04:18] manincharge opened #154 "Correlator"
Correlator functionality is somewhat a mystery. I have it running, but I'm not sure what the definition of coalesce is relating to alerts.  Is there a certain time period that is considered ? Is it by ip, by service, by both ?
I would like to be able to adjust those values.
Also, I would like to implement a filter at the correlator level to reduce certain noise. Can you point me in the right direc

[2021-09-06 08:30] Norup123 commented on #147
I have been trying this, but i cant for the life of me find the opencanary folder after doing the ubuntu install. Where can i find the skin folder here?

[2021-09-07 12:32] Norup123 commented on #125
How do you know about the external IP being a "known scanning host" ? :) @cecio

[2021-09-12 14:29] DieselNomad opened #155 "http proxy - Cache Access Denied"
Hi,

I've created an OpenCanary (V0.6.2) install on a Raspberry Pi 3b+ with an Unbuntu 20.4 server version.
Followed the OpenCanary installation recipe listed here:

https://www.reddit.com/r/homelab/comments/m503y3/install_opencanary_on_raspberry_pi_ubuntu_2010/

All seems to work fine so far, the ftp login trap works like a charm with GMAIL notification

Before activating the http trap I get the

[2021-09-14 05:03] jayjb commented on #117
Hi @swannet,

Sorry for the delay (and subsequent stupidity), but this issue has been fixed already.

[2021-09-14 05:03] #117 closed

[2021-09-14 05:05] jayjb commented on #118
Hi @KMoonraiser,

Sorry for the delay! This sounds like an interesting approach. I'm going to have a discussion with the team first. I am redoing some of the instructions and slipping this in sounds useful.

[2021-09-14 16:01] jayjb commented on #56
Closing this thread because ive updated the FAQ with methods to avoid 631 alerts and added an `smb.ignore_localhost` paramter feature to list of action items.

[2021-09-14 16:01] #56 closed

[2021-09-14 16:18] jayjb commented on #116
Hi @nodauf,

For the HTTP alert, did you attempt a login? Since it only alerts on POST attempts.

[2021-09-14 16:22] #108 closed

[2021-09-14 16:25] jayjb commented on #99
Please open a new issue with details of the issue so we can tackle it.

[2021-09-14 16:25] #99 closed

[2021-09-14 16:33] jayjb commented on #95
Thanks @ldwedari. Ill add these comments to the FAQ

[2021-09-14 16:33] #95 closed

[2021-09-14 16:36] jayjb commented on #94
Haha @HybridAU thats well spotted!  Thanks. Im closing this issue. Please reopen it if it is not resolved @theonlyjedi

[2021-09-14 16:36] #94 closed

[2021-09-14 17:55] #80 closed

[2021-09-14 17:57] jayjb commented on #79
Hi @KMoonraiser,

Thank you so much. You totally right. I've updated the wiki to reflrect with audit events to use that work (using 20.04).

[2021-09-14 17:57] #79 closed

[2021-09-14 18:06] jayjb commented on #153
Hi @wlx-33,

We currently have RDP deprecated because we want to do more work on it before its ready. You can ignore that notification.

[2021-09-14 18:06] #153 closed

[2021-09-14 18:22] jayjb commented on #154
Hi @manincharge,

OpenCanary Correlator is quite old so it doesn't support all alert types (i've made a note to update it actually so thanks for bringing it up).

With regards to "coalesce", Correlator will aim to create a single incident and add subsequent incidents of the same type in a certain time frame from the same attack IP to a single incident. This means that 30 file opens should result i

[2021-09-15 02:32] manincharge commented on #154
Hey @jayjb, Regarding the coalesce, what is the default 'certain time frame' and is that configurable in the correlator.conf file ?
I've added functionality for the correlator to call an Azure function App to extend functionality to a SIEM platform, but wasn't aware that all alert types aren't getting to the correlator.  That's kind of a bummer.
As far as filters, I want to be able to inspect the

[2021-09-15 02:58] manincharge commented on #155
Are you running the opencanary service as root ?

[2021-09-15 04:01] jayjb commented on #155
Hi @DieselNomad,

So that "Cache Error" html is the intended/expected html response for the HTTP proxy. If you clone this repo, you can check out the `http` and `httpproxy` skins (which is what I've gone and checked for you). We have copied the "squid" and "MS ISA Server Web Proxy" cache error pages.

This is useful because you would know that it is NOT a real proxy but someone probing your networ

[2021-09-15 04:15] jayjb commented on #154
Hi @manincharge,

Ye im really sorry about that. We haven't touched the correlator in a while, but ill see if I can buy some time for it today (atleast to update all event types).

With regards to the 'certain time frame', looking through the code, it seems the `'console.incident_horizon'` setting would be a good one to try. It's default is 60 (seconds) which means it would coalesce any incidents

[2021-09-16 08:23] nodauf commented on #116
Hi,
No it was only with a GET attempts

[2021-09-21 15:22] edosid commented on #152
Hi @jayjb,

This did solve the problem.
Thanks for the info!!

I did however needed to change the setting of Restart=always to Restart=no.
Got an error that it was conflicting with an other setting.
But it starts after a reboot and now runs just fine.

[2021-09-21 15:22] #152 closed

[2021-09-23 09:06] WlX-33 opened #156 "How to send email to alert?"
I configured it according to the method described in the email file, but after configuration, an error was reported and the email could not be sent. So I want to know how to send email.
Here is my configuration：
[..] # Services configuration
    "logger": {
    "class" : "PyLogger",
    "kwargs" : {
        "handlers": {
            "SMTP": {
                "class": "logging.handlers.SMTPHandler"

[2021-09-25 05:44] manincharge commented on #154
Does SMB go thru the correlator ? I still haven't gotten opencanary to catch the logs that samba is writing. (its taken several hours just to get smb access to show in the samba log)  (ubuntu 20.04)

[2021-09-25 06:05] manincharge opened #157 "Type in Wiki, please clarify"
In this recently updated document, the smb.conf  log file is set to log.all
but rsyslog.conf and opencanary.conf  are showing  samba-audit.log

Can you explain the discrepancy or is one or more of those an error ?

https://github-wiki-see.page/m/thinkst/opencanary/wiki/Opencanary-and-Samba

[2021-09-27 07:42] jayjb commented on #157
Hi @manincharge,

Ye so the difference there is intended.

The `samba-audit.log` is used by the OpenCanary process to read specific events forward to that log by the Rsyslog daemon.

The `log file = log.all` reference in the `smb.conf` tells the Samba process where it should be logging to. If you check `/var/log/samba/`, you will notice that logging in there.

The difference here is that we use th

[2021-09-27 07:42] jayjb commented on #156
Hi @wlx-33,

Do you mind telling me what the error that was reported is?

[2021-09-27 11:53] wlx-33 commented on #156
Here is the error:

** We hope you enjoy using OpenCanary. For more open source Canary goodness, head over to canarytokens.org. **
[-] Using config file: opencanary.conf
[-] Failed to decode json from opencanary.conf (Expecting ',' delimiter: line 36 column 17 (char 1116))
[-] Failed to open /home/wlx/.opencanary.conf for reading ([Errno 2] No such file or directory: '/home/wlx/.opencanary.conf')

[2021-09-27 16:26] jayjb commented on #156
Hi @wlx-33,

That looks like your OpenCanary config may be missing a bracket or something because the Opencanary application is failing to decode the config file. Can you paste your config file formatted please?

[2021-09-29 07:18] ElBiasto opened #158 "restart opencanary from crontab"
Hey, I want to restart my opencanary every 30 Minutes with Crontab. For testing I set the script to run every 3 Minutes.
When I execute the script manually it's working fine. When it is not working

This is what my script looks like:
`#!/bin/bash`
`SHELL=/bin/sh`
`. /home/pi/.bashrc`
`source /home/pi/canary-env/bin/activate && cd opencanary && opencanaryd --restart`

After creating the script I ad

[2021-10-01 15:03] KMoonraiser commented on #128
That's correct. They're not supposed to be the same. I have the same issue on Ubuntu 20.04.3 LTS (GNU/Linux 5.4.0-1044-raspi aarch64).

[2021-10-05 07:24] jayjb commented on #158
Hi @ElBiasto,

If you have installed Opencanary into your virtualenv at `/home/pi/canary-env` already, then you shouldn't need to `cd opencanary` because `opencanaryd` will be added to the `PATH` (iirc). So lets try remove that because if `cron` is running from a working directory that doesn't have `opencanary` directory in it, it may be failing on that.

So to summarise, I would change the final

[2021-10-05 12:08] ElBiasto commented on #158
Hey,
Thank you for your help. I removed the `cd opencanary` but I still have the same problem.
Executing the script manual is still working fine and when it is executed by cron it seems to fail.

[2021-10-05 14:08] ElBiasto commented on #158
Fixed it by calling: `/usr/local/bin/activate && opencanaryd --restart` instead

[2021-10-05 14:44] manincharge commented on #157
Great,  I see properly formatted messages in the /var/log/samba-audit.log   but it isn't triggering anything in /var/tmp/opencanary.log     much less making it to the correlator.   FTP, SNMP and other types are working fine.   Any idea how to troubleshoot samba-audit.log entries  that opencanary isn't seeing ?
 "smb.auditfile": "/var/log/samba-audit.log",
    "smb.enabled": true,
    "smb.filelist

[2021-10-08 16:34] cvocvo opened #160 "twistd command not found prevents service from starting?"
Hello! I've been following a guide ([this one](https://bobmckay.com/i-t-support-networking/hardware/create-a-security-honey-pot-with-opencanary-and-a-raspberry-pi-3-updated-2021/)) to get up and running to test this out, but I'm running into some errors when trying to start opencanary. My test OS is Ubuntu Server LTS and not raspbian per the guide, but I'm not 100% sure if I missed any pre-req's s

[2021-10-15 01:33] KeystrokeCascade opened #161 "Samba list index out of range"
Not sure if this is new as it didn't happen last week but I re-installed opencanary this week and it started happening.  I wasn't getting email alerts for Samba although samba-audit.log was populating, and running opencanaryd --dev spat the Python error below:
[code]

My Samba prefix was set up as specified in the docs:
[code]

But my output was only giving a list with 13 fields, not 14:
[code]

Y

[2021-10-20 08:42] KeystrokeCascade commented on #161
Huh, interesting, it still says 13 over in https://github.com/thinkst/opencanary/blob/master/opencanary/modules/samba.py

[2021-11-11 17:28] diana-hpw opened #162 "Pidfile /usr/local/bin/opencanaryd.pid contains non-numeric value"
Hello, I have an issue when trying to run opencanary after successfully installing and configuring the windows server option for opencanary. ( I  did this 3 times to make sure it is not a misconfiguration from my part, every time the exact same result)
I have successfully installed and configured the samba module with opencanary, using your steps in the documentation. I tested it and it worked as

[2021-11-30 10:38] Taomyn opened #163 "Issue with Python v3.10"
I just upgraded my OpenCanary machine from Fedora Server 34 to 35 and along with it comes Python 3.10 which unfortunately broke OpenCanary. I did a fresh install of OpenCanary using PIP to be sure I have the latest version. The error is:

[code]
Making a modification to tests.py to use collections.abc fixes the problem. After that everything seems to be running fine.

[2021-11-30 15:34] d0p4m1n31 opened #164 "nasLogin Template has inconsistent titles"
The <title> and   <meta name="application-name" of the nasLogin skin (index.html) say "RackStation", but the login screen say "DiskStation".

[2021-12-21 04:24] ghost opened #166 "OpenCanary Samba Issue"
I have setup OpenCanary in a Ubuntu 20.04 virtualbox VM. (host is Linux Mint) and followed the documentation for setup instructions. However, I'm not able to get Samba share access logged either to the samba-audit.log file, not to a gmail address I setup specially for this. Any help in resolving this would be appreciated.

Thanks

[2021-12-21 06:01] techminds-max commented on #128
I have the same issue. I opened a thread today, (21/12/2021) since I hadn't noticed that others have had the same issue. I'm running opencanary in a Ubuntu 20.04 VM

[2022-01-06 07:56] njern opened #167 "Installation instructions for OS X not compatible with Apple Silicon"
Hello,

Recently built this for my M1 Macbook and realised the existing [instructions](https://github.com/thinkst/opencanary#installation-os-x) only work for x86-based OS X computers.

I suggest updating the documentation.

Trying this out myself, when using Homebrew, it is easy to get it working by replacing the following line:

[code]

With:

[code]

[2022-01-06 10:30] JiTmun opened #168 "Truncated IP in answer using mysql feature"
Hello,

With opencanary 0.6.3 on ubuntu 20.04 LTS, the two last digits' IP are truncated in the reply :

![image](https://user-images.githubusercontent.com/95627331/148369013-2fff368c-f1e4-4bee-97f3-42d455d97b12.png)

[2022-01-06 10:35] #168 closed

[2022-01-10 12:34] lordpengwin opened #169 "Filtering specific events"
Is there a way to filter out specific activity? My Ubiquiti router does network discovery using port 10001 and it is causing a huge amount of alerts. I can't see anyway in the opencanary configuration to tell it to ignore these requests.

[2022-01-12 22:15] iliaselmatani opened #170 "Request for ICMP module"
Missing support for ICMP.
Would be nice to have ICMP as module.
This would be a very useful detection besides the module portscan.

[2022-01-25 05:09] Bache commented on #166
Having the same issue here.
Using Ubuntu Server 20.04 LTS, Samba 4.13.14.

SMB share works fine, and the OpenCanary SMB module reports it's up and running, but nothing is ever logged into the samba-audit.log file. I tried manually adding an entry to the samba-audit.log, but no alerts were sent out. I've been over the SMB module Wiki page three times and created the files/folders/permissions reques

[2022-02-12 11:56] redstang33 opened #171 "Access to SMB file causing Unhandled error in opencanaryd"
Using opencanary on a Raspberry Pi. I have configured SMB using the information on the wiki. Running opencanaryd --dev and then accessing a file I get this error message:

`2022-02-12T11:51:04+0000 [-] Unhandled Error
	Traceback (most recent call last):
	  File "/home/pi/opencanary/env/lib/python3.9/site-packages/twisted/python/log.py", line 103, in callWithLogger
	    return callWithContext({"sys

[2022-02-16 10:58] HybridAU commented on #171
Hi @redstang33 thanks for your bug report, I think this is the same issue as #161 and there is already a [pull request](https://github.com/thinkst/opencanary/pull/165) to fix it so hopefully it should be fixed soon :slightly_smiling_face:.

[2022-02-17 04:48] HybridAU commented on #163
Hey @Taomyn thanks for this bug report, it looks like this is because we were using an old version of Jinja2 that doesn't work with Python 3.10, @joewesch has just done a PR that [updates](https://github.com/thinkst/opencanary/pull/175/files#diff-60f61ab7a8d1910d86d9fda2261620314edcae5894d5aaa236b821c7256badd7R16) Jinja2 so it should support Python 3.10 soon.

[2022-02-17 04:58] HybridAU commented on #169
Hi @lordpengwin you can ignore specific IP addresses, if you add `ip.ignorelist` to your config file e.g.

[code]

Then all traffic from those addresses should be ignored.

[2022-02-17 07:58] thinkst-alec commented on #160
Apologies for the delay in getting back to you.

Note the path that your service file was complaining about:
[code]

It's attempting to use `twistd` in the `opencanary/bin` folder, however we do not include `twistd` in this repository. opencanary is intended to be installed into `/usr/bin` using `pip`, rather than used directly from the cloned repository. If you do wish to continue with this path,

[2022-02-18 10:19] DimosthenisK opened #176 "OpenCanary inside docker reports docker IP address as src_host instead of real IP address"
Running OpenCanary inside docker leads to the wrong src_host being reported.
This is the output I see:
![image](https://user-images.githubusercontent.com/32791127/154663226-24d5b259-3c02-43d7-82db-ee7570f32660.png)

The first message is from visiting the honeypot from my docker host, and the second one is from visiting via my mobile.

This is my docker container configuration:
![image](https://use

[2022-02-18 20:19] ivnmad opened #177 "Raspberry Pi - from buster to bullseye - errors when starting opencanary"
I upgraded my Raspberry Pi OS from buster to bullseye and my perfectly working opencanary [it had been working for almost 2 years]  failed to start following the upgrade.
I theretofore did a clean installation thinking that the issue had been the upgrade shortcut, but I'm getting the same error messages:

** We hope you enjoy using OpenCanary. For more open source Canary goodness, head over to can

[2022-02-21 04:47] HybridAU commented on #177
Hi @ivnmad the issue is that the latest release of MarkupSafe (which is used by Jinja2, which we use for HTTP templates) [has removed](https://markupsafe.palletsprojects.com/en/2.1.x/changes/#version-2-1-0) `soft_unicode`.

The solution is to update Jinja2 to the latest version, there is already a [pull request that updates Jinja2](https://github.com/thinkst/opencanary/pull/175/files#diff-60f61ab7

[2022-02-21 08:00] ivnmad commented on #177
@HybridAU I had installed using pip, so `pip install jinja2==3.0.3 `solved the issue. Thank you.

[2022-02-21 08:00] #177 closed

[2022-02-22 13:53] defensivedepth opened #178 "git service not generating logs"
Using latest code.

I have opencanary setup with git enabled on 9418 on 192.168.x.x.

I run the following from my local system:

`git init`

`git remote add origin dresden@192.168.x.x:/project/project.git`

`git pull origin master` --> this connects successfully and asks for my password. I give it a bogus pasword and it gives me a permission denied.

Going over to the opencanary log, there is no r

[2022-02-22 16:29] #178 closed

[2022-02-27 08:07] jayjb commented on #166
Hi @techminds-max, @Bache,

Sorry for the delay. Im back and investigating. What i have found at the moment is that operation we used to rely on, doesnt seem to trigger anymore: `pread_recv pread_send`. If you change that to `all`, you will notice a bunch of events coming through.

I'm currently figuring the best operation to listen on.

[2022-02-28 08:25] #161 closed

[2022-02-28 08:25] jayjb commented on #171
Sorry for the delay folks! I've merged it! 🤘

[2022-02-28 08:25] #171 closed

[2022-02-28 08:27] jayjb commented on #169
Thanks @HybridAU 💋

@lordpengwin, please let me know if that helps.

[2022-02-28 08:28] jayjb commented on #167
Hi @njern,

Thanks! Ill give it a shot. If it works, maybe you could submit a PR?

[2022-02-28 08:29] jayjb commented on #166
Hi folks,

Yes confirmed that `pread_recv pread_send` isn't working on newer samba versions. Currently, im using the `fstat` operation in the `smb.conf`.

[2022-02-28 08:30] jayjb commented on #164
Hi @d0p4m1n31,

Thanks so much! Would you like to submit a PR to fix this issue?

[2022-02-28 08:35] jayjb commented on #162
Hi @diana-hpw,

In terms of how the restart works, are you using a service file? Or is it a cron job that starts it for you?

[2022-02-28 08:36] jayjb commented on #158
Thanks for letting me know @ElBiasto 🤘

[2022-02-28 08:36] #158 closed

[2022-02-28 08:45] jayjb commented on #157
Hi @manincharge,

Sorry for the delay! We have noticed an issue with the more recent Samba versions where the operations that we tell the vfs: full_audit module to log, aren't being logged (namely `pread_*`). So this is very likely the issue.

If you would like to try changing the `smb.conf` to reflect `full_audit:success = fstat` rather and give it another shot please.

[2022-02-28 11:18] konstantia86 opened #179 "Failed to load application: cannot import name 'soft_unicode' from 'markupsafe'"
10 days ago, markupsafe was upgraded to a new version and soft_unicode was removed.
I have tried downgrading the markupsafe version to the last known working version (2.0.1) with no luck.
Any advice?

[2022-02-28 12:42] konstantia86 commented on #179
After a quick investigation, the soft_unicode library was  replaced by soft_str. (https://markupsafe.palletsprojects.com/en/2.1.x/changes/)

[2022-02-28 15:43] lordpengwin commented on #169
Thanks, I did try it but I’m still getting alerts from about the IP address that I ignored. I haven’t had time to try to debug it further. One question, should my opencanary.conf file be in /root/.opencanary.conf or /etc/opencanary/opencanary.conf. I have it in /root. The documentation seems unclear on this.
On Feb 28, 2022, 3:27 AM -0500, JayJB ***@***.***>, wrote:

[2022-02-28 19:06] NoGoCodeHunter commented on #179
@konstantia86 Sorry to be so daft, but in what CONF file do I need to update it from soft_unicode to soft_str?

[2022-03-01 06:40] jayjb commented on #179
Hi @konstantia86,

Thats super strange. The workaround I used was to downgrade using `pip install MarkupSafe==2.0.1` which works for me.

Would you mind letting me know which version of python you using?

[2022-03-01 06:42] HybridAU commented on #169
When OpenCanary starts it looks for config files the following order:

 1. `./opencanary.conf` (i.e. the directory where OpenCanary is installed)
 2. `~/.opencanary.conf` (i.e. the home directory of the user, usually this will be root so `/root/.opencanary.conf`)
 3.  `/etc/opencanary/opencanary.conf`

It will use the first config file that exists.

[2022-03-01 06:44] jayjb commented on #176
Hi @DimosthenisK,

Thats very interesting. I would expect the src_host to be an address from the docker network if you accessed it from there.

Ill take a look and see if there is anyway to get around this. I haven't played around with the different docker networking modes and so my knowledge here is very limited.

[2022-03-01 06:54] HybridAU commented on #179
Just adding that this is the same bug as #177 and can also be fixed by a [pull request that updates Jinja2](https://github.com/thinkst/opencanary/pull/175/files#diff-60f61ab7a8d1910d86d9fda2261620314edcae5894d5aaa236b821c7256badd7R16) because the new version of Jinja2 doesen't `soft_unicode` anymore

[2022-03-01 09:27] konstantia86 commented on #179
I actually don't know because I am not that familiar with the whole project structure.

[2022-03-01 09:29] konstantia86 commented on #179
Yes, I did this too, and actually it is better to use pip install -Iv markupsafe==2.0.1, to force the installation of the specific version. However, this needs to be fixed in the code because it may cause more problems in the future, when for instance v2.0.1 will become deprecated.

[2022-03-01 17:07] NoGoCodeHunter commented on #179
Okay, so downgrading markupsafe seems to have resolved the issue.
Python = 3.8.10
MarkupSafe = 2.0.1

For those having an issue here is what I did in case it helps:

Once you are in in the virtual environment:
[code]

Once ran, I was able to start the 'opencanaryd'. Thanks to @konstantia86  and Good Luck.

[2022-03-03 11:05] HybridAU commented on #176
I don't think this is related to the fact that you're not using "host" as the network configuration.

I've set up OpenCanary in a docker container using [published ports](https://docs.docker.com/config/containers/container-networking/#published-ports) before and the src_host has been fine.

I'm not familiar with that syntax you have used to created the docker container, I've always used `docker-co

[2022-03-03 11:22] DimosthenisK commented on #176
Hey @HybridAU , thanks for trying to help here!

I'm using [dockerode](https://github.com/apocas/dockerode) to spin up the container, as I need it to be done programmatically. It's essentially a wrapper around the docker engine API, so yeah, I'd assume it's the same as using docker-compose.

To be clear, my end goal is getting the true IP address that tried to access the honeypot. This is my curre

[2022-03-09 21:24] smooshkid opened #181 "is there a way to exclude a single port from being detected by portscan.py?"
Having issues with portscan detection sending alerts from port 7680 (WUDO). Would like to have the module ignore any traffic coming from said port. Any suggestions? Thanks

[2022-03-17 15:38] benjaminchodroff commented on #156
This may be related, but I hit an issue with any mail server (Gmail, probably QQ too) that requires smtp with ssl. The secure only starts a tls encryption on an unencrypted connection. Most modern mail servers requires TLS handshakes, but the out of the box handler will simply timeout on the handshake. We would need to code change to support an option to use:
https://docs.python.org/3/library/smtp

[2022-03-18 20:38] eurbasius commented on #170
I would second that. As OpenCanary project, ICMP is surely needed.

[2022-03-30 05:11] Bache commented on #166
@jayjb Thank you for checking that out, looks like fstat is logging correctly as you mentioned.

Only issue I have with using fstat is that by simply opening and closing my testing.txt document on my SMB share, it writes ~12 entries to the log, resulting in 12 separate emails. Is there a way to filter these emails to simply receive a single email when a file is opened, or at least a way to group a

[2022-04-05 03:20] manincharge commented on #179
You can also replace instances of soft_unicode with soft_str.  I think I only found 3-4 references in the code.

[2022-04-05 03:23] manincharge commented on #166
Bache, this is exactly what the correlator was designed to address.

[2022-04-14 14:51] gaevoc opened #182 "Contact MAC address"
Hi Opencanary team,
first of all thank you for your great work, I appreciate it.

My question is about incoming connection MAC address, is there any way to include it in the logged record? This would be very useful in intrusion investigation phase

Thank you

[2022-04-19 07:47] HybridAU commented on #182
Hey @gaevoc

That's an interesting idea, but unfortunately I can't think of a practical way to implement it. Unlike the client IP address, the client MAC address changes with each hop across the network so if an OpenCanary is plugged into a switch or router all the traffic will have the MAC address of that switch, rather than the actual client MAC address.

There are some ways to link an IP addres

[2022-04-20 08:47] gaevoc commented on #182
Hi @HybridAU ,
thank you for your kind answer, I understand your point. Looks like there is nothing easy that can be done to retrieve this information, I will do without :)

[2022-04-28 09:39] leviustinov commented on #181
I would also like to see this feature. I've changed SSH to a different port and now getting alerts when connecting to ssh.

[2022-05-25 22:16] dustinskeeters opened #184 "RDP session"
I see that there is a previous post about this but I can't find a guide to resolve the issue. I am trying to use OpenCanary for a RDP Honeypot project I am doing. I just need to know how to install the RDP module. I go to start OpenCanary and it states "Can't import RDP. Please ensure you have RDP installed" How do I proceed?

[2022-05-26 06:16] HybridAU commented on #184
The short answer is that RDP doesn't really work.

The longer answer is that we used the [rdpy](https://pypi.org/project/rdpy) library to make an RDP honey pot, but that library has not had an update since 2015 and only ever supported Python 2 which was end-of-lifed on 1 January 2020. It might be possible to get an old copy of OpenCanary, run it with Python 2 and install the rdpy library.

I naive